[2018-11-01 21:03] dgreif opened #1 "Handle failure to arm"
If a sensor is faulted when you try to arm the alarm, it will audibly tell you that sensors need bypass.  This plugin doesn't currently handle this situation.  First step will be calling the `set` callback with an error.

[2018-11-02 14:35] dgreif opened #2 "Losing connection after a few hours"
The socket.io connection with Ring gets reset after a few hours.  We receive a message with `datatype: 'HubDisconnectionEventType'`.  I've got a fix for this, but need to try it out today to be sure it works.

[2018-11-04 09:21] ergoego opened #3 "Status OK, but Cannot Change Alarm State from Home App"
If I change the alarm armed state manually on the keypad, the home app will accurately display the correct state. But if I try and change state of alarm in home app, it will just stay infinitely in "disarming..." or "arming..."  Sensors also are not responsive after initial boot of Homebridge server.

[2018-11-04 20:45] ergoego commented on #3
This issue was resolved. Due to my ring security system being on a different wifi network than the Homebridge server.

[2018-11-04 20:45] #3 closed

[2018-11-04 23:29] dgreif commented on #3
@ergoego Sorry to hear you ran into some issues.  There should be no need to have the homebridge server and ring alarm on the same network, as this plugin interacts with Ring's API, not directly with the devices.  Please let me know if you are able to reproduce the issues and I will dig deeper.

[2018-11-05 15:57] dgreif commented on #2
`HubDisconnectionEventType` issue is fixed, but I'm getting occasional (once every 24-48 hours) `404` errors from the `connections` endpoint when trying to reconnect to the socket.io server.  Digging into the Ring app a little bit, it looks like there are `refresh_token`s that might be useful to keep auth tokens alive.  Need to do some more digging to see how Ring handles re-auth and what might be

[2018-11-06 16:50] dgreif opened #4 "Additional device types"
I found the device type array in the ring source code:

[code]

I have implemented a few of the sensors along with the keypad, base station and security panel so far.  Other types of sensors would be easy to implement now that we know the device type, but I don't have any of them to test out and verify.  PRs are welcome from anyone that has one of these additional devices to try out.

[2018-11-07 13:00] dgreif commented on #2
Finally figured out why this is so hard to track down.  When the 404 happens, we get back an object like `{ errors: [ 7062 ] }`.  Just found the related code from Ring:

`n = t.code === c.ErrorCode.E_NOACCESS ? f.NO_ASSET : s.isNullOrUndefined(t.hasHttpErrorCode) ? f.OTHER : t.hasHttpErrorCode(7050) ? f.NO_ASSET : t.hasHttpErrorCode(7019) ? f.ASSET_OFFLINE : t.hasHttpErrorCode(7061) ? f.ASSET_CELL

[2018-11-07 13:14] mrose17 opened #5 "probably needs investigation"
(node:40871) UnhandledPromiseRejectionWarning: Error: Request to ring API at https://app.ring.com/api/v1/rs/connections failed --caused-by-> Request failed with status code 404
        at module.exports (/Users/mrose/Documents/Projects/homespun.io/homebridge-ring-alarm/node_modules/ring-api/propagated-error.js:22:19)
        at ringRequest (/Users/mrose/Documents/Projects/homespun.io/homebridge-ri

[2018-11-07 13:18] dgreif commented on #5
@mrose17 Thanks for reporting!  I've been hunting this down for the last few days in #2 and I think I finally found the root cause this morning.  Looks like the `connections` endpoint gives a 404 when the base station is doing a firmware update.  I will try to get a fix out today at some point.  Closing this as a duplicate

[2018-11-07 13:18] #5 closed

[2018-11-07 13:19] mrose17 commented on #5
many thanks! i couldn't find the linkage myself!

[2018-11-08 04:03] #2 closed

[2018-11-08 04:07] dgreif commented on #2
@mrose17 I was able to reproduce this issue by disconnecting my base station from the internet, which gave me a `7061` error, as I expected from the code above.  I've added a 20 second retry loop for all of the error codes listed.  Let me know if it happens for you again, but I think we've finally gotten to the bottom of this one 🎉

[2018-11-08 12:50] mrose17 commented on #2
thank you!

[2018-11-20 06:47] jproz commented on #4
If you implement lock I can test it.

[2018-11-20 14:52] dgreif commented on #4
@jproz lock might be tough to implement without having one to try out. The sensors all seem to follow a similar pattern, but locks would probably have a different set of commands. What type of lock is it? I didn’t realize they had any sort of lock integration at this point.

[2018-11-21 05:52] jproz commented on #4
Kwikset 910
They literally just released it. (I was so excited!)
https://support.ring.com/hc/en-us/articles/360016519732-Integrating-Z-Wave-Door-Locks-with-Your-Ring-Alarm

[2018-11-22 02:05] riveraj33 commented on #4
I personally would like to thank you for this plugin! I found it a few minutes ago and it works great. Do you think Ring will catch on and close this up?

[2018-11-22 06:49] dgreif commented on #4
@jproz I'll see if I can find any info regarding lock states and commands in the ring web app source code.  Might be a few weeks as life is getting busy with the holidays, but I'll keep you informed if I make progress.

@riveraj33 glad to be of use 😄.  I've actually informed Ring that the plugin exists in hopes to get official support, or at least give them a nudge to get true HomeKit integration.

[2018-11-23 04:01] dgreif opened #6 "Ring API unable to fetch session"
@riveraj33 looks like I'm eating my words on the API never changing 🤦‍♂️.  Ring broke some of the old android endpoints being used by the ring-api library.  I'm updating my fork to use new endpoints and should have a fix out soon.

[2018-11-23 05:13] riveraj33 commented on #6
Hey thanks! I was wondering why I couldn’t disarm when I got home. Looking forward to the fix!

[2018-11-23 18:15] riveraj33 commented on #6
Is there a chance this was fixed on its own somehow? Everything seems to be working fine since this morning.

[2018-11-23 23:53] dgreif commented on #6
@riveraj33 looks like Ring must have seen it as a bug and fixed it on their end.  Everything is operational again.  I may circle back in the future and change some of the endpoints being used, but everything seems to be working great as-is for now.

[2018-11-23 23:53] #6 closed

[2018-11-24 23:02] VeniceNerd opened #7 "Love it!"
Not an issue. Just wanted to thank you for creating this plugin. Just installed it an truly loving it. You literally made my home more secure by enabling me to auto arm when I leave!

Do you accept donations? If so where can I send you a nice dinner? :)

[2018-11-26 15:33] dgreif commented on #7
@VeniceNerd really glad to hear the plugin is working well for you!  I didn't expect to receive donations for it, but won't turn you down 😆.  I've added a donate button to the README if you still feel generous.

Just curious, do you confirm that you want to run the automation every time you leave home, or have you found a way to make it run without having to confirm?  I think there are some ways a

[2018-11-26 18:13] dgreif commented on #7
Thanks for the donation, much appreciated!  I was planning to try the dummy switch approach so good to know it’s working for you. Are you using a homebridge plugin for that?

[2018-11-27 22:07] jproz commented on #4
Yah thanks dg

[2018-11-28 17:02] raygan commented on #4
I'd also like to thank you for this plugin! It's been working extremely well for me!

I have three [Schlage Connect Z-Wave locks](https://www.schlage.com/en/home/smart-locks/connect.html) that are now apparently compatible with the Ring system, and I'd love to help test lock integration if you add it. I'm currently connecting them to HomeKit using [this plugin](https://github.com/sibartlett/homebr

[2018-11-28 20:17] cah-dgreif commented on #4
I don't have any Z-Wave locks to test with, but I think I have everything in place based on what I found in ring's source code.  @raygan @jproz would you guys mind trying out your locks with version `1.1.0`?  Once you upgrade and restart homebridge, your locks should show up in the Home app with no additional configuration.  Let me know if they show up, are able to lock/unlock the lock, and if the

[2018-11-28 20:18] dgreif commented on #4
I don't have any Z-Wave locks to test with, but I think I have everything in place based on what I found in ring's source code. @raygan @jproz would you guys mind trying out your locks with version 1.1.0? Once you upgrade and restart homebridge, your locks should show up in the Home app with no additional configuration. Let me know if they show up, are able to lock/unlock the lock, and if they upd

[2018-11-29 04:04] raygan commented on #4
I’ve tested it out and so far it’s good news and bad news.

The good news is your plugin seems to work! Once I got the lock disconnected from Wink and added to Ring it showed right up in HomeKit and I was able to lock and unlock it. It worked pretty much exactly as it did via homebridge-wink3.

The bad news part is that Ring’s implementation of Z-wave locks seems to be really unreliable and underb

[2018-11-29 14:36] dgreif commented on #4
@raygan thanks for all the detail!  Sorry to hear that their implementation is lacking at this point.  I think they are trying to move really fast with the alarm/hub to keep up with competition, so not surprising that there are a few bugs right now.  I'll consider the lock feature complete for now unless I hear back from anyone who has issues.  Leaving this issue open for future requests if anyone

[2018-12-03 04:43] solarbeat opened #8 "Error loading plugin"
Homebridge 0.4.45
node.js v6.10.2
homebridge-ring-alarm 1.1.0

I install the plugin using "npm i -g homebridge-ring-alarm" -- everything installs fine, no issues. When I start up homebridge, it throws an error on loading the homebridge-ring-alarm plugin:

====================
ERROR LOADING PLUGIN homebridge-ring-alarm:
/usr/local/lib/node_modules/homebridge-ring-alarm/node_modules/ring-api/main.js

[2018-12-03 15:31] dgreif commented on #8
@solarbeat the underlying `ring-api` library is written using some of the newer javascript syntax which won't work with node 6.  Looks like node `8.3.0` is the earliest version that has the necessary features (based on a quick google search, haven't tested to verify).  Let me know if upgrading fixes the issue for you.

[2018-12-04 02:32] solarbeat commented on #8
Thanks - upgraded Node and that took care of the issue. If only that didn't break some other plugins. Still, having yours working is significantly better. Thank you so much for taking the time to put this together!

[2018-12-04 02:32] #8 closed

[2018-12-05 15:58] mbbeaubi commented on #4
Just tried this with the schlage 968. For me, lock / unlock seems to work consistently from the ring app, however, only unlock seems to work via homekit. There are no errors in the homebridge hub.

For the issue mentioned by raygan about it wiping your codes and not being able to create new ones using the lock keypad. Your codes are now managed by the ring app. You need to manage your users and ex

[2018-12-05 16:07] raygan commented on #4
@mbbeaubi Thanks, I know codes are managed by the Ring app. In my case, every time the Ring app tried to set a code for a user it was getting an error, which meant I was only able to set codes manually and users weren’t tied to codes. Ring support basically told me there was nothing they could do and to try back in January.

What brand of lock are you using?

[2018-12-05 17:19] dgreif commented on #4
@raygan did you experience the same behavior as @mbbeaubi where HomeKit could unlock but not lock?  @mbbeaubi I'd just recommend trying it some more and verify that only unlocking works.  The implementation for the two is basically identical so I am surprised that only unlock would work.

[2018-12-05 17:23] raygan commented on #4
I think I was able to both lock and unlock from HomeKit but it’s possible I’m mistaken.

My lock is set to auto-lock after 30 seconds, and there was such a delay in locking and unlocking (via both HomeKit and the Ring app) that I might have misinterpreted an auto-lock as it locking from HomeKit. Since I use the auto locking feature (which is built into the lock and doesn’t require z-wave at all) I

[2018-12-05 18:56] dgreif commented on #4
@mbbeaubi I found the issue.  When you lock/unlock from HomeKit, it determined the action using `state === State.Secured ? 'lock' : 'unlock'`.  Should have actually been `State.SECURED`.  This means it was _always_ sending an unlock command.  Simple typo that would have been easy to catch it I had a z-wave lock lying around.  Thanks for solid debugging which lead me to the right place.  Give `v1.1

[2018-12-05 19:00] raygan commented on #4
Interesting! That might explain why I was having so much trouble with it.
I’ll give it another try some time this weekend.

On Wed, Dec 5, 2018 at 11:56 AM Dusty Greif <notifications@github.com>
wrote:

[2018-12-10 15:37] dgreif commented on #4
@jamhap64 I just tested the timing on my motion sensor and it was perfectly in-line with the ring app.  I'm not sure what caused the delay for you.  It might have been a disconnect between your Home app and your Homebridge server, or some other network related issue, but I'm confident that the plugin is correctly registering the end of motion event as soon as ring sends it out.  If you are able to

[2018-12-10 15:40] dgreif commented on #4
I'm afraid this issue will become a catch-all for comments in the future so I'm going to close it. If anyone has a new sensor that they are connecting to their ring alarm hub which is not yet supported by this plugin, please open a new issue with as much detail as you can provide.  Thanks to everyone who helped with the lock integration!

[2018-12-10 15:40] #4 closed

[2018-12-10 17:15] jamhap64 commented on #4
Thanks for looking into this. It seems that restarting homebridge fixed my problem.

Sent from my iPhone

On Dec 10, 2018, at 9:37 AM, Dusty Greif <notifications@github.com<mailto:notifications@github.com>> wrote:

@jamhap64<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fjamhap64&data=02%7C01%7C%7C486d2365d8344792867c08d65eb567b1%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7

[2019-01-08 17:56] ajcutshall opened #9 "Support for fire alarms and such?"
Hey there! Love this homebridge integration, it’s made my ring alarm much more useful with automation! Anyways, I just got one of those Z-Wave fire alarms from First Alert and it ties into my ring alarm. Do you have any plans to add in support for them, or have any idea how easy it might be to do so? Would be awesome to be able to turn on all the lights and turn off the HVAC in the event of an ala

[2019-01-10 21:54] dgreif commented on #9
@ajcutshall glad to hear the plugin is working well for you! I've been watching Ring's releases at CES closely and figured there would be some request rolling in for new device types 😂.  I've taken an initial stab at smoke/co devices as well as the smoke/co listener.  Give `v1.2.0` a try and let me know how it works.  Since I don't have one to try, I could be completely off, but it appears that Ri

[2019-01-14 20:03] ajcutshall commented on #9
Hey @dgreif, sorry for the delay in getting back to you! I just updated and can confirm that the CO and Smoke alarm shows up in homebridge. It shows up in the same way that it does in the ring app, as two separate devices. I’ll see if I can get the fire alarm to trigger without summoning the fire department (I’ve got monitoring) and will report back with findings on how automations work. Thanks ag

[2019-01-14 20:05] jamesg311 commented on #9
I just came hear to add that the suggestion for an automation when the Ring Alarm goes off was a great one, thank you. I set a lot of the lights inside/outside of my house to turn on automatically when the Alarm goes off.

Thanks as well for @dgreif for your hard work here! Let me know if you accept PayPal or anything like that so I can buy you a coffee or something for your work.

[2019-01-14 20:31] dgreif commented on #9
@ajcutshall thanks for verifying that the device shows up correctly.  I was a little confused when the ring app source code appeared to split the CO and smoke into separate devices, so it's good to know that's how it actually shows up in the app.  I think there is a test page somewhere in the app for testing your smoke alarms but I'm not sure exactly where it is (again, looking at minified source

[2019-01-14 20:40] jamesg311 commented on #9
Ah, I looked and didn't find it but checked my PayPal receipts and I think I sent you some cash back in December. Thanks again for your work!

[2019-01-15 00:51] 1092MousePad39 opened #10 "Permission Issues w/ install"
I'm getting consistent permission issues when trying to install.  I have homebridge running fine and I've installed other plugins without issue.  Relevant part of debug.log below.

I even tried:
` sudo npm install -g homebridge-ring-alarm --unsafe-perm=true --allow-root`
But still getting errors.  I also had this confirmed by another user with another Pi who has homebridge and other plugins workin

[2019-01-15 04:01] dgreif commented on #10
@1092MousePad39 sorry to hear you are having issues!  I'm running homebridge on a pi as well, but I am not doing global npm installs (I have a package.json so that I can manage versions easily).  I'm really surprised that `sudo` didn't work for you, but it looks like another option is to change the install location for npm.  See https://docs.npmjs.com/getting-started/fixing-npm-permissions for ins

[2019-01-22 16:14] dgreif commented on #10
@1092MousePad39 any luck getting it installed?

[2019-01-27 04:43] Eli-Liebman opened #11 "Unable to install"
When I run `npm i -g homebridge-ring-alarm`, I get the following error:

[code]
I'm on a raspberry pi B+, not sure if that matters.

Thanks!

[2019-01-27 05:52] gadgetfreak98 commented on #11
I'm also getting errors:

pi@raspberrypi:~ $ sudo npm i homebridge-ring-alarm
npm ERR! code 128
npm ERR! Command failed: git clone --mirror -q git://github.com/dgreif/ring-api.git /root/.npm/_cacache/tmp/git-clone-49d34a63/.git
npm ERR! fatal: could not create leading directories of '/root/.npm/_cacache/tmp/git-clone-49d34a63/.git'
npm ERR!

npm ERR! A complete log of this run can be found in:
npm

[2019-01-27 05:55] dgreif commented on #11
Sorry to hear you guys are having issues. It might be a few days before I
can check it out. I haven’t changed anything in a few weeks so there might
be something odd going on with NPM right now. Will follow up when I have a
chance to test a fresh install.
On Sat, Jan 26, 2019 at 10:52 PM gadgetfreak98 <notifications@github.com>
wrote:

[2019-01-27 06:31] gadgetfreak98 commented on #11
Much appreciated.  Will be patient in the meantime!

[2019-01-27 15:47] Eli-Liebman commented on #11
@dgreif - turns out I had a pretty old version of node installed - updating to the latest seemed to solved the install issue for me.

@gadgetfreak98 maybe give that a try?

[2019-01-27 16:15] gadgetfreak98 commented on #11
Can you tell me what version of node you installed?  When I installed an updated one yesterday, it killed everything else for me, so I went back to 8.15.0.  But maybe I'm missing the steps necessary to bring all the plugins in line with an updated version?  Thanks

[2019-01-27 16:33] gadgetfreak98 commented on #11
did you have to do anything in particular after upgrading to re-enable homebridge and the plugin, or you did it all after node upgrade?

[2019-01-27 16:34] Eli-Liebman commented on #11
I removed everything using npm uninstall and then uninstall node. Installed the latest and then homebridge

[2019-01-27 16:36] gadgetfreak98 commented on #11
ok, yeah, that may be the way to go... unfortunately as I've messed around quite a bit.  But it seems like it makes sense to have the latest greatest node...

[2019-01-27 16:47] gadgetfreak98 commented on #11
do i need to uninstall all the existing plugins too?

[2019-01-27 20:35] Eli-Liebman commented on #11
I don't know why you would have to but I can't say for certain.

[2019-01-30 19:08] dgreif commented on #11
@gadgetfreak98 any updates?

[2019-01-30 19:18] gadgetfreak98 commented on #11
I ended up not doing the Node update from the 8.30 version since it was indicated as being sufficiently high a version and as I was afraid to mess up all the things I had done across half a dozen plugins.  Plus I had basically run out of time.

Are you still planning to look into potential issues on your end?

[2019-01-30 19:31] dgreif commented on #11
I think it's specific to your setup so I'm not sure there is much for me to do at this point.  Seems like there are a lot of npm install issues, but they are almost always dependent on the node/npm environment in which you are trying to install it.  Sorry I can't be of more help!

[2019-02-01 07:10] danewallace opened #12 "Error loading pluin"
I'm receiving the following error when trying to load the ring-alarm plugin after a successful install. Other plugins load just fine. JSON is valid. Everything launches just fine if plugin Is uninstalled. Node v10.5.0. I appreciate the help.

Loaded plugin: homebridge-ring-alarm
/usr/local/lib/node_modules/homebridge/lib/server.js:166
      plugin.initializer(this._api);
             ^

TypeError:

[2019-02-01 18:08] dgreif commented on #12
Have you tried the latest version of homebridge?  Looks like this might have been fixed in `v0.4.46` https://github.com/nfarina/homebridge/commit/9b87762d2e9056c61f664316445b31d54ae1a79b

[2019-02-02 02:36] dgreif commented on #12
Great, glad to hear that!

[2019-02-02 02:36] #12 closed

[2019-02-03 06:33] gadgetfreak98 commented on #11
I started anew.  Used a v11 variant of Node, but got the same error code 128.  Rolled back to 10.15 of Node and still got the error.  So no luck.  Any ideas?

[2019-02-03 07:46] gadgetfreak98 opened #13 "Should this work with Docker?"
As an alternative, I did a docker install.  Other plugins seem to work fine, and your plugin seemed to install this way correctly. However, I cannot get anything to show up in the home app.  I know I have the right credentials.  Just logged into a new browser with the email and password that I also have in the config.json file. Thoughts?  Thanks!  Can't wait to get this to work.

Never mind!  Got

[2019-02-04 15:22] dgreif commented on #13
@gadgetfreak98 glad to hear you got it working! I'm sorry I couldn't be of more help with the npm issues.  Let me know if you run into anything odd now that you have everything up and running

[2019-02-04 15:22] #13 closed

[2019-02-04 15:23] dgreif commented on #11
Going to close this since I am unable to reproduce

[2019-02-04 15:23] #11 closed

[2019-02-04 15:24] dgreif commented on #9
@ajcutshall did you get a chance to test this out with a "real" fire event?

[2019-02-04 15:24] #10 closed

[2019-02-08 04:03] riveraj33 opened #14 "Install failure"
Hello. I’ve used this plugin for a few months and unfortunately I had to reinstall raspian on my pi and start over with a bunch of things. Homebridge and this plug in are one of those. I’m getting an error when trying to install this plug in. I have the latest version on homebridge. I get a command failed and permission denied. I’ll try to post a pic tomorrow. I can’t forgive out how to paste a ph

[2019-02-08 04:06] dgreif commented on #14
@riveraj33 sorry to hear you are having issues.  Seems like quite a few people have had similar issues with npm installs lately.  Check through some of the other issues on this repo to see if any help you get past the permissions issue.  Let me know how it goes.

[2019-02-08 04:08] riveraj33 commented on #14
Ok here is an imgur link

https://imgur.com/a/bPEx2Y6

[2019-02-08 14:48] dgreif commented on #14
@riveraj33 looks like it is doing something odd with the api dependency, which is a github url instead of pulling from npm.  I'm working on merging the homebridge and api repos into one, which should hopefully fix the issue.  I'll post back when i'm done, but it will probably be a while since I don't have much free time right now.  I was able to install `homebridge-ring-alarm` on a clean docker im

[2019-02-09 17:24] dgreif commented on #14
@riveraj33 can you try installing `v1.2.2`? I pulled my `ring-alarm` api into this repo so that I don't have as many external dependencies.

[2019-02-09 23:11] riveraj33 commented on #14
I actually ended up deleting homebridge and reinstalling it. That seemed to clear it up. Mine still shows as 1.2. I’d hate to update it and then break it again lol

[2019-02-09 23:31] #14 closed

[2019-02-10 05:31] tsightler opened #15 "API fails when network connection is interrupted"
I'm back.  I tried to use the onConnected observable and it works to provide notification when the websocket is disconnected, however, almost immediately I get an unhandled promise warning.  Also, if I remove the Internet block, it does not reestablish the connections automatically and I can't figure out any way to make it reconnect from within my code.  I do not have this reconnect issue with the

[2019-02-11 15:01] dgreif commented on #15
@tsightler Thanks for testing it out! I was only checking for `ENOTFOUND`, which apparently didn't catch the error from your firewall exception.  I've updated the failure check to look for any network error, so it should definitely catch your `ETIMEDOUT`.  Give `1.2.3` a try.

[2019-02-12 00:10] tsightler commented on #15
Tested and it works great with all disconnect events I'm able to simulate.  Exactly what I was looking for, now I can indicate connectivity status of the various alarms and, just as importantly, rescan state and device changes when reconnects happen as sometimes they seem to get lost.  Thanks so much!

[2019-02-12 01:12] tsightler opened #16 "User/password printed to console"
Perhaps you don't consider this a bug, but there's a console log of the username/password in clear text whenever you make a connection to the alarm.  I use debug for most of my scripts and, normally, they produce no console output otherwise, so this just struck me as odd.  I ended up looking for a leftover console.log statement in my code that I somehow didn't remember before I realized it was com

[2019-02-12 15:25] dgreif commented on #15
@tsightler glad it's working for you now! Thanks for spurring me forward.  I needed a good excuse to extract everything from `ring-api` since it doesn't seem to be maintained anymore.

[2019-02-12 15:25] #15 closed

[2019-02-12 15:28] dgreif commented on #16
Yep, that was definitely a mistake on my part.  Logging was the one piece that I hadn't set up yet since pulling everything out of `ring-api`.  `debug` seems like the way to go, so I got it set up in `1.2.4` under `DEBUG=ring-alarm`.  Thanks for the suggestion!

[2019-02-12 15:28] #16 closed

[2019-02-21 00:16] SafariKC opened #17 "Multiple Homes in a single account"
It would be fantastic if you would allow a configuration to be set to allow for only pulling in the devices for a single location.  our ring account has multiple locations and it would be nice to have a home bridge config to be separate for each of them as they are separate homes.

[2019-02-21 15:28] dgreif commented on #17
I think that's a reasonable request. Should be pretty straightforward to add an optional location id array to the config.  I'll take a look when I get a chance.

[2019-02-24 18:27] dgreif commented on #17
@SafariKC I've added a `locationIds` option to the config.  Let me know if that solves your issue.  Thanks for the feature request, hopefully it will be useful for others as well.

[2019-02-24 18:28] dgreif commented on #9
I'm going to assume this is good to go.  @ajcutshall let me know if you test it out and run into any issues.

[2019-02-24 18:28] #9 closed

[2019-02-24 19:27] VeniceNerd opened #18 "Random Mode Changes"
Hey,

I’ve been noticing random mode changes for the past few weeks. All of the activity in the screenshot was happening while I was asleep:

![dfdc71f3-9c23-43a1-9c09-9bf8a21ceccb](https://user-images.githubusercontent.com/25128243/53304147-0c22d480-3827-11e9-964d-99f30610ef94.png)

Is it possible that this plugin may have something to do with that? How can I find out?

Thanks!

[2019-02-24 20:54] SafariKC commented on #17
Thanks so much!  I’ll give it a whirl.

[2019-02-24 21:10] SafariKC commented on #17
@dgreif Can you add some default logging that shows the LocationID's that are found on the account.  I'm hunting through logs right now in debug mode but i'm not entirely clear what if any logging is telling me the location right now via homebridge.

[2019-02-24 21:26] SafariKC commented on #17
I was able to get it myself with a web inspector via their portal.  But it would be nice to log that if you have it already.

[2019-02-24 21:48] SafariKC commented on #17
Also for someone who set this up before there was a restriction in place, it looks like it's using the cached configs even if the locationIds would have restricted them out.  I've blown away my homebridge cache and things are working great but it might be nice if it invalidated these as well when a restriction is in play.

[2019-02-27 05:11] dgreif commented on #18
@VeniceNerd That seems pretty odd.  It's possible that you have an automation of some sort in HomeKit triggering the changes.  It's interesting that all of the notifications are changes to "Disarmed", but no other state (might just be your notification preferences).

As for debugging whether or not it is the homebridge plugin, I added some logging in `v1.4.1` that will tell you when HomeKit sets t

[2019-02-27 05:14] dgreif commented on #17
@SafariKC I think you are spot on with all of your suggestions.  Just released `v1.4.1` which has location id logging, and will automatically prune any devices that are from filtered out locations.  Thanks for the great ideas!

[2019-02-27 05:14] #17 closed

[2019-03-17 08:00] codahq opened #19 "this isn't really an issue"
hey, super sorry to contact you like this.  i didn't want to open an issue because this isn't an issue.  how did you reverse the websockets api?  i'm trying to recreate this in another language but i'm having a heck of a time even testing the alarm websocket out.

i'm using this client just for ease:
https://chrome.google.com/webstore/detail/browser-websocket-client/mdmlhchldhfnfnkfmljgeinlffmdgkj

[2019-03-17 19:07] ajcutshall commented on #9
Hey @dgreif, sorry for not getting back to you for such a long time. I’ve been busy with a bunch of life stuff. As it turns out, E-Cigs will set the fire alarm off. When the alarm went off, HomeKit notified me as expected and also turned on every light, as I have configured! I just hope the fire department isn’t too peeved.

[2019-03-17 22:36] cantchooseaname8 opened #20 "Notifications for delayed entry"
I’m not sure if this is supposed to work or not, but I don’t get any notifications for delayed entry. I only get notifications when it’s armed and disarmed. Is there any way to set it up to get notifications when the alarm goes into delayed entry? I’ve had problems where a motion sensor trips the delayed entry but I don’t hear or realize it’s going off until the alarm siren triggers. These notific

[2019-03-18 03:55] dgreif commented on #9
@ajcutshall thanks for letting me know, really glad to hear it worked!

[2019-03-18 14:51] dgreif commented on #20
@cantchooseaname8 thanks for the request.  I'm not sure that everyone would want notifications for every entry delay, since that would mean a notification every time they entered their home and the alarm was on away mode.  I can definitely see the upside though, and I will look into adding a configuration option that would allow you to choose if entry delay sets HomeKit to "Alarming".

[2019-03-18 15:17] dgreif commented on #19
@codahq I'm happy to discuss your setup here.  Hopefully it can be useful if someone else is trying to implement another language down the road.  To answer you first question, the initial discovery on the websocket api was done by @joeyberkovitz who submitted a [PR to doorbot](https://github.com/davglass/doorbot/pull/27).  The most important take-away from that PR is that ring is using [socket.io]

[2019-03-18 15:18] dgreif commented on #18
@VeniceNerd any updates?

[2019-03-18 17:44] VeniceNerd commented on #18
This hasn’t happened again since. So I’m gonna just close this thread and make a new one should this ever occur again!

[2019-03-18 17:44] #18 closed

[2019-03-18 19:02] cantchooseaname8 commented on #20
@dgreif thanks so much for the quick reply. A configurable option to have notifications when entry delay is triggered either from away or home mode would be amazing. Thanks so much for all your work on this plugin and sharing it with everyone!

[2019-03-18 19:02] #20 closed

[2019-03-18 23:27] dgreif commented on #20
@cantchooseaname8 I added an `alarmOnEntryDelay` option in `v1.5.0`.  This will actually work really well for me as well since I have mine set up for auto arm/disarm on leave/arrive.  I've had a lot of instances of visitors setting off the alarm when I'm not home.  Thanks again for the request!

[2019-03-19 02:12] cantchooseaname8 commented on #20
@dgreif wow that was fast! I’ll take a look and test this out tomorrow. Thank you so much!

[2019-03-19 03:33] cantchooseaname8 commented on #20
I was just able to test it out. The notifications popped up perfectly. The status in HomeKit showed “Triggered” and this is where I ran into a problem. When I went to change the status to “Off”, it was already highlighted and wouldn’t let me turn the alarm off. I had to use the keypad. Is that how it is supposed to work in HomeKit? Maybe a triggered alarm can’t be turned off in HomeKit? Just want

[2019-03-19 04:14] dgreif commented on #20
I ran into the same issue while testing it out. Unfortunately it’s a
limitation of HomeKit that I have no control over. The best solution that I
found was to click on Away (or Home) and then Off. Glad to hear it’s
working otherwise.
On Mon, Mar 18, 2019 at 8:33 PM cantchooseaname8 <notifications@github.com>
wrote:

[2019-03-19 11:20] cantchooseaname8 commented on #20
Got it. Hopefully HomeKit will improve with this in the next iOS release. Thanks again.

[2019-03-22 17:29] codahq commented on #19
Very interesting.  It appears that I was not on current version of the web app until today.  This will make some parts of this trivial now that I can see this traffic going through a browser.  Until today I was trying MITM with the app.  This was okay until the WS calls where they are potentially certificate pinning.

I think there must also be a flag on the account not to allow WS connections on

[2019-03-23 17:45] talshum opened #21 "Ring is blocking me?"
I suspect that every time I try to use the script RIng is blocking me. After launching it I'm unable to access my ring account from my phone or online. This time I got:

" error Couldn't create the API instance. This could be because ring.com changed their API again"

[2019-03-23 19:36] dgreif commented on #21
@talshum I haven't had any issues with getting logged in.  That error doesn't exist in the codebase so I'm guessing you are a few versions behind.  Try updating to the latest version and double checking your password.  Let me know if that works!

[2019-04-10 14:05] dgreif commented on #21
@talshum any updates on this issue?

[2019-04-10 15:47] talshum commented on #21
Now it’s working. Was coincidence

________________________________
From: Dusty Greif <notifications@github.com>
Sent: Wednesday, April 10, 2019 07:05
To: dgreif/ring-alarm
Cc: talshum; Mention
Subject: Re: [dgreif/ring-alarm] Ring is blocking me? (#21)

@talshum<https://github.com/talshum> any updates on this issue?

—
You are receiving this because you were mentioned.
Reply to this email directl

[2019-04-10 17:53] dgreif commented on #21
Great, glad to hear that.  Thanks!

[2019-04-10 17:53] #21 closed

[2019-04-27 19:39] cgillenscs opened #22 "How do you suggest implementing multiple users?"
First I want to thank you for this plugin. It works great with the Apple Watch since the watch verifies identity without verification on the phone.

Here's my application: I've set up and want to continue to manage my home through the iOS/macOS Home app. (I've got a few other plugins too.)  I'd like to just "Invite" my wife  in the Home app so I can continue to manage the whole thing and she can j

[2019-04-28 02:56] dgreif commented on #22
@cgillenscs I totally understand your situation and I have the same setup between myself and my wife.  There shouldn't be any need to deal with multiple Ring users.  In fact, she shouldn't even be required to have the Ring app on her phone for the HomeKit plugin to work.  What you need to do is set up family sharing at the iOS level.  On your iPhone, go to Settings -> Click on your name at the ver

[2019-04-28 14:45] cgillenscs commented on #22
OK I got it working in the way you describe, but not via those settings. I've always had Family Sharing active and her in my family, but the home/rooms/devices only show up on my account. But then I (as I had done before) added my wife via "Inviting" her to the home via the Home app's setting. I swear when I tried this about 6 months ago, she would get a dialog stating she needed to be logged in a

[2019-04-28 14:45] #22 closed

[2019-05-01 17:19] #19 closed

[2019-05-19 18:21] jamesg311 opened #23 "Ring Smart Lighting Support?"
Is the ring api used for this plugin also able to access the newly launched Ring Smart Lighting?

[2019-05-19 20:55] dgreif commented on #23
@jamesg311 I’m 99% sure the api for the lights is very similar to the api for the alarm based on the source code for the ring web app. I’ve got a floodlight being delivered today, and have already started implementing the additional devices within the ring-alarm homebridge plugin. Should have an update out in a week or two assuming I can find time to work on it more.

[2019-05-19 20:58] jamesg311 commented on #23
Rad! Let me know how I can help. I’ve got a floodlight and a few pathlights.

[2019-05-19 21:14] dgreif commented on #23
Great, it would be nice to have you test it out with the pathlights when I'm done.  I'm still trying to decide if I want to get those.  They are way bigger than I expected.  How is the light radius on them?

[2019-05-20 05:02] jamesg311 commented on #23
They are bigger than I expected too. And the packaging is a bit wasteful. But the lights are bright!

Here they are in near pitch black. When the lights are off my camera can’t even pick up any light.

https://i.imgur.com/jWS1mGy.jpg

[2019-05-20 15:00] codahq commented on #23
The beams bridge has a ZID that is used as "dst" in the web service calls just like the alarm's bases devices.  All of the beams and alarm devices updates come over the same WS connection.  I haven't reversed many of the calls for the lights yet but I can seem all of the chatter from them over the WS for the alarm.  You've probably discovered the same.

[2019-05-21 06:45] dgreif commented on #23
@codahq thanks for the tip on using `dst`, that definitely saved me some time.  `v2.0.0` is out with ring smart lighting, along with multi-level switches (need someone to test these with a third party switch).  Let me know how the lighting works for you @jamesg311 !

[2019-05-21 07:58] codahq commented on #23
I should have double-checked before I spoke...  They're not all the same.  A single lights on/off goes through the WS:

Here's an example of a single light on:
[
  "message",
  {
    "body": [
      {
        "zid": "${id_of_light_to_change}",
        "command": {
          "v1": [
            {
              "commandType": "light-mode.set",
              "data": {
                "lightMode": "on

[2019-05-21 15:35] dgreif commented on #23
@codahq interesting that they have a rest endpoint.  I have lighting groups in the homebridge plugin update and they are working perfectly for me just using websockets.  As with most of these APIs from Ring, it seems like there are many ways to accomplish the same task (probably because of legacy clients).  A great example of that is the change from `v1/rs/connections` to `v1/clap/tickets` https:/

[2019-05-21 16:41] codahq commented on #23
The web app only got me so far.  For some reason at times either the web app doesn't implement all functionality or my account is flagged to be on previous versions.  For example, when you were mentioning you were using the web app to watch alarm traffic I had never had the alarm available in my web app.  I also don't have the beams available in the web app now.

Instead, I've decided to start wat

[2019-05-21 18:24] dgreif commented on #23
Wow, sounds like a lot of work to intercept the traffic!  I also do not have access to the lights via the web app yet, but the source code seems to all be there (minified).  I mostly just monitored the websocket traffic as I made changes to the lights from the app, and applied the alarm techniques to send commands like what I was seeing from the lights.  Seems to be working great.  Let me know if

[2019-05-21 19:04] codahq commented on #23
It was kind of a lot of work but at the end of the day it will be worth it to me I think.  I have a few other APIs I want to reverse (Anova, August and maybe poke around Wyze) and I don't think any of them have web apps and their phone apps are also likely to have pinned certs.

[2019-05-22 02:28] jamesg311 commented on #23
Added them to Homebridge/Home Kit today and they were all setup nicely. My groups passed through fine as well as individual lights and motion sensors. Works great.

Question: is it possible to include serial number or other attributes here? Is there a reason these are all lower case and named the way they are?
https://i.imgur.com/2vZMklU.jpg

[2019-05-22 15:10] d0n4v4nb3ck3r opened #24 "Support for other Products"
Anyway you can add support for doorbell button, doorbell motion sensor, floodlight light, floodlight motion sensor, floodlight siren, and etc?

[2019-05-22 16:14] dgreif commented on #24
I added support for the new Ring Smart Lighting products in `v2.0.0` this week, but do not currently have support for the cameras.  https://github.com/homespun/homebridge-platform-ring-video-doorbell#readme already has the cameras implemented for button presses and motion (but no video support).  I'm strongly considering pulling in those camera functions as well, but it's a pretty big task since t

[2019-05-22 16:43] dgreif commented on #23
@jamesg311 I do currently list the serial numbers for any real hardware devices.  `Model` is something that I could definitely improve on, but currently it shows the value from `deviceType`.  Ring does not supply any nice lists of device type to device model mapping, but I could manually create a list the device names if that would be helpful.  As for the light group that you sent an image of, it'

[2019-05-22 16:57] jamesg311 commented on #23
It’s more of a nit, not super important. Thanks for the info, though.

[2019-05-22 16:58] jamesg311 commented on #24
I’ve tried that other plugin and have never been able to get it to work well. I’ll throw more cash your way (sent a donation yesterday) if I can get the RVD and Spotlight cams in your plugin (which is my fav plugin, btw!)

[2019-05-22 19:10] dgreif commented on #24
@jamesg311 the donations are much appreciated! I enjoy working on this plugin for my own use, but it feels awesome when the community embraces it like you have ❤️.  I think the biggest hurtle with the cameras is that they don't support any obvious real-time api (at least not from the web app).  Other npm modules that interact with ring all seem to use polling to request event (~ every 5 seconds),

[2019-05-22 19:10] #23 closed

[2019-05-23 04:07] d0n4v4nb3ck3r commented on #24
I have used that plugin, but the notifications aren't always there for when motion is detected, I also wouldn't mind if I could alarm the siren on my floodlight camera from HomeKit so that I don't have to go into the ring app. easier access. I don't know if that is possible but would be nice.

I have installed your plugin but just got my smart light bridge today, so I will be setting it all up soo

[2019-05-23 05:09] codahq commented on #24
I don't see them polling.  I'm pretty sure none of their apps (web, win10, or smart phone) poll.  I actually asked about this in the other issue but I guess this question answers my question.  In somebody's library, I thought it was yours, I saw somebody subscribe to notifications for the cameras.  I think there is a subscribe API where you pass a URL for POST callbacks.  Figuring it out for my li

[2019-05-23 06:35] dgreif commented on #24
Ahh, I missed your edit to your message in the other issue. The callback url is news to me, I haven’t seen that in any other libraries yet. I know the npm doorbot and ring-api libraries both use polling so I assumed that was the only known approach so far. I’ll check out the windows 10 app when I get a chance. Thanks the great info! Let me know if you make any breakthroughs on your end.

[2019-05-23 10:45] d0n4v4nb3ck3r opened #25 "Install Issue"
So tried to install your plugin, I get the [2019-5-23 05:40:57] [RingAlarm] Initializing RingAlarm platform...
But then it doesn’t do anything

[2019-05-23 14:05] #25 closed

[2019-05-23 14:06] d0n4v4nb3ck3r opened #26 "Support for ring two step verification?"
is it even possible to support ring's two step verification?

[2019-05-23 14:52] dgreif commented on #26
I'm guessing it would be _possible_ if we took an approach like https://github.com/KhaosT/homebridge-nest-cam#how-to-get-access-token.  The main issue is that you need to be in the loop every time a new token is required by the plugin.  There should be a token refresh endpoint, but if your homebridge was offline for a day or more, your token would probably expire and require you to update your con

[2019-05-23 15:18] d0n4v4nb3ck3r opened #27 "Smart Light Group or Light Hiding Option?"
Is there anyway that you can put an option into this plugin so that you can make it so that the "Patio Group" Light doesn't show or is hidden? because then if we want to group our lights together we can with HomeKit.

![IMG_E081330F784D-1](https://user-images.githubusercontent.com/9875439/58264675-d9b04700-7d43-11e9-896c-b56168b220a5.jpeg)
![IMG_67BEA2C94167-1](https://user-images.githubuserconten

[2019-05-23 17:10] d0n4v4nb3ck3r commented on #24
@davglass said he would hand over his API
`https://github.com/davglass/doorbot`

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-23 17:33] d0n4v4nb3ck3r commented on #24
@
Dav Glass is okay with you taking his api. He said if you take over then he will let it go

[2019-05-23 18:33] dgreif commented on #24
I'd prefer to start from scratch using doorbot and ring-api repos as a reference.  Neither of them are typescript, and both use older api endpoints.  The biggest hurtle is figuring out how to register for events without using polling.  Hopefully some day ring will do everything via websockets (alarm and lights already are).

[2019-05-24 23:17] evisser4 commented on #27
I'd like this as well.  Good idea.

[2019-05-24 23:33] evisser4 opened #28 "beamdurationseconds"
The light doesn't turn on with beamdurationseconds over 32500.

[2019-05-25 02:47] dgreif commented on #28
Thanks for the info! I didn't test the upper bounds, but that's right at 9 hours.  Seems like a pretty smart maximum since the most of the lights are battery powered.  I'll add some information to the readme.  Anything else you think we should do?

[2019-05-25 02:51] dgreif commented on #27
The easiest path would probably be to just delete the group within HomeKit after it gets registered by homebridge.  I don't think it will re-appear unless you clear your homebridge cache.

That aside, I'm happy to add a config option.  Are you thinking something as simple as `hideLightGroups: true`, or more complex like `hideDeviceZids: ['123abc', '456def']`?

[2019-05-25 03:34] #28 closed

[2019-05-25 03:41] dgreif commented on #28
Added it to the readme and put a check in place.  Now if you set the value too high, it will use the max allowed value (`32767`).  Thanks for bringing the issue to my attention!

[2019-05-25 14:30] d0n4v4nb3ck3r commented on #27
@dgreif I would like the individual devices to be seen, but not the group. If that’s possible. If you want me to test each one of those and let you know, I can do that.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-25 14:47] evisser4 commented on #28
Thank you! Is it possible to disable this timeout altogether? I have a wired smart light that I want turned on at sunset and turned off at sunrise. 9 hours doesn't quite cut it in my scenario.

[2019-05-25 17:43] dgreif commented on #28
Unfortunately that limit is coming from Ring, not from anything on my end.  If 9 hours isn't quite enough, you could probably add a second automation that would run in the middle of the night.  So at sunset, turn on the light for 9 hours.  Then at 1am turn it on for 9 hours again (which would basically just reset the duration timer).  Then at sun rise turn it off.

[2019-05-25 18:17] #27 closed

[2019-05-25 18:18] dgreif commented on #27
Released `v2.1.0` with a `hideLightGroups: true` option.  Should automatically remove those group lights/sensors from HomeKit, so no need to clear homebridge cache.

[2019-05-25 22:01] evisser4 commented on #28
Thanks a lot! Your solution worked perfectly.

[2019-05-26 03:51] d0n4v4nb3ck3r commented on #27
Thank you so much for doing this!

[2019-06-01 04:37] eddydas opened #29 "Crashes when Ring Alarm is on backup Cellular"
Plugin crashes upon homebridge start up with "Cannot find 'reduce' in undefined" when the Ring Alarm is on Cellular network.

"deviceList" can be undefined in location.js

[2019-06-03 20:51] eddydas commented on #29
My internet is spotty, so from time to time my Ring Alarm would go into Cellular mode for some time :(

[2019-06-04 03:40] tjohns opened #30 "Add support for police/fire panic button"
Ring Alarm recently added a panic button to their mobile app, which can either (a) trigger the siren on the base station, (b) request a police response, or (c) request a fire department response. (Options (b)/(c) require an active monitoring plan.)

It would be interesting to expose an API endpoint for this feature, since it would be very useful for writing certain types of automation rules.

(On

[2019-06-04 05:49] codahq commented on #30
@dgreif Here's how to sound and silence the siren.

["message",{"body":[{"zid":"${panel_zid}","command":{"v1":[{"commandType":"security-panel.${mode}","data":{}}]}}],"datatype":"DeviceInfoSetType","dst": "${dst_zid}","msg":"DeviceInfoSet","seq":${seq}}]

${mode} can be "sound-siren" or "silence-siren"

I'm not going to tell you how to notify the police or fire department.  I feel like that could b

[2019-06-05 14:32] dgreif commented on #30
Thanks for the info! I just received the new button in my app yesterday.  I'll take a look at adding it when I get a chance.

[2019-06-05 16:14] tjohns commented on #30
The big use case I can see for adding the police/fire modes would be for integrating unsupported third-party sensors via Home Assistant, or building a fire alarm pull station (since the official Ring keypad doesn't have a manual fire alarm button).

But I also agree that exposing those is something best approached with caution.

[2019-06-06 15:39] codahq commented on #30
They have a first party solution for this, no?  What does their panic button do?  I assumed that would dispatch police or fire or at least get that started.

[2019-06-06 17:08] tjohns commented on #30
@codahq They do have a Z-Wave panic button, but it's police only, afaik. Same as the panic mode on the keypad.

They don't have any way to trigger a manual fire alarm, other than the new soft button in the app.

[2019-06-06 19:06] #29 closed

[2019-06-06 19:06] #30 closed

[2019-06-06 19:11] dgreif commented on #29
Updated in `v2.2.1`.  It will now wait until the base station is online before it tries to do anything in homebridge.

[2019-06-06 19:17] dgreif commented on #30
I added the siren logic directly to each location (`location.soundSiren()`, `location.silenceSiren()`).  I also added a switch to the homebridge plugin for this, called `Ring Alarm Siren`.  As for police/fire, I made it easy to call those programmatically with `location.sendCommandToSecurityPanel('secuirty-panel.unknown-command-here')`.  I think this is a good enough sanity check to make sure anyo

[2019-06-06 22:54] codahq commented on #30
Unfortunately, no.  I'm going to pass on providing any information on the fire/police commands.  Somebody else can do that.  Even though there is nothing illegal against reverse engineering by itself it's probably against the terms of use to call their private APIs directly because of liability and/or other reasons.  If somebody were to call the police or fire repeatedly using this library (or my

[2019-06-06 23:07] dgreif commented on #30
@codahq I totally understand! I agree with your logic, and really appreciate all of the help you have provided so far.  I'll leave my `sendCommandToSecurityPanel` method in place as I am using it internally for siren and alarm mode changes.   Can't stop others from using it if they figure out the commands and use them at their own risk.

[2019-06-14 15:50] dgreif commented on #24
@codahq I've been silently working on camera integration for the last few weeks and am making really good progress.  I did set up a MITM for the windows 10 app and was able to track down the postback url for windows app notifications.  I tried setting up a local http server and handing them an accessible URL to hit, but did not receive any notifications.  Unfortunately I think they check URL and r

[2019-06-15 22:14] dgreif commented on #24
Cameras have arrived! @d0n4v4nb3ck3r I think I have implemented everything you originally asked for.  Still working on video streaming, but everything else seems to be working well.  One note - motion alerts and ring alerts need to be turned on in the Ring app if you want to see valid info for each in HomeKit.  Unfortunately I am relying on polling right now to get the events, but polling interval

[2019-06-15 22:32] jamesg311 commented on #24
i just upgraded the plugin. what else do i need to do for access/setup?

[2019-06-16 04:18] dgreif commented on #24
@jamesg311 it should add the cameras automatically after updating and restarting homebridge.  They will show up as 3 separate devices: a motion sensor, a light (if applicable), and a siren (if applicable).  I'll be working to add live stream support, but it could take some time.  Let me know if you continue to have issues with what's in there now.

[2019-06-16 17:20] LeviJSmith opened #31 "Error when running home bridge-ring-alarm@3.0.0 for the first time"
I am getting the following error trying to run the plugin.
![Screen Shot 2019-06-16 at 11 08 20 AM](https://user-images.githubusercontent.com/51886586/59567262-adc57000-9028-11e9-8d2d-bb3cc73124ad.png)

[2019-06-16 23:13] dgreif commented on #31
Make sure you have it configured under `platforms` and not `accessories` in your homebridge config.  See https://github.com/dgreif/ring-alarm/tree/master/homebridge#homebridge-configuration for an example.  If that isn't the issue, can you post what version of homebridge and node you have installed?

[2019-06-17 02:57] LeviJSmith commented on #31
Greetings.  Thanks for thew quick response.  I confirmed I have it installed under platforms.  Below is my Node and Homebridge versions.

Node V9.8.0

Homebridge 0.4.38

Thanks,
Levi

[2019-06-17 03:01] dgreif commented on #31
I would try updating homebridge. Looks like 0.4.50 is the latest

[2019-06-17 03:06] LeviJSmith commented on #31
Ok, thx.  Will give that a try.  Have a good evening!!

-Levi

[2019-06-17 04:15] markcarroll opened #32 "RingAlarm fails to start, error on startup"
I am getting the following error trying to add my Ring Doorbell:

[code]

Here is my config:

[code]

[2019-06-17 13:23] dgreif commented on #32
@markcarroll I haven't seen an error like this yet, but my guess is that you have/had one of the other ring camera homebridge plugins installed.  Can you confirm whether or not this is the case?  If so, you will need to remove the other ring plugin from your config and restart homebridge.  If the error continues, your next step will be to delete the ~/.homebridge/accessories directory.  I try to a

[2019-06-17 16:04] LeviJSmith commented on #31
Updating to 0.4.50 did the trick.  Thx for your help.

[2019-06-17 16:04] #31 closed

[2019-06-17 23:30] markcarroll commented on #32
That was the problem. I deleted the accessories file (after checking to see what I would lose) and restarted. It fired up successfully.  I still do not see the camera in HomeKit but that is another issue. Thanks for the help.

[2019-06-17 23:30] #32 closed

[2019-06-17 23:42] cantchooseaname8 commented on #24
I’ve upgraded to the newest version 3.0 but don’t see the cameras in HomeKit. Is there anything else that I need to do or does any special setting need to be added to the config.json file?

Thanks for all of your work on this!

[2019-06-18 05:47] codahq commented on #24
As you suspected:

POST https://api.ring.com/clients_api/snapshots/timestamps HTTP/1.1
User-Agent: android:com.ringapp:3.14.3(${build_number?})
Hardware_ID: ${uuid_hardware_id}
X-API-LANG: en
Authorization: Bearer ${big_old_token}
accept: application.vnd.api.v11+json
Content-Type: application/json; charset=UTF-8
Content-Length: ${length}
Host: api.ring.com
Connection: Keep-Alive
Accept-Encoding: g

[2019-06-18 16:24] dgreif commented on #24
@codahq thanks for looking into it for me!! I'll give the different headers a try and see if that fixes it for me.  Really appreciate your help 🏆

@cantchooseaname8 see my response to a similar question earlier in the issue: https://github.com/dgreif/ring-alarm/issues/24#issuecomment-502418621 .  You should see a motion sensor for each camera, and a light/siren if the camera is equipped with them.

[2019-06-18 20:27] ifeign commented on #24
Though this guy on Reddit is being deliberately vague, he claims to have figured out live video:
https://reddit.com/r/homeassistant/comments/apansc/ring_doorbell_integration_direct_rtsp_live_feed/

Thank you so much for your work on this. As soon as I get back home I'll give your plugin a try. Does this work if I simply have a doorbell and not the entire security system?

[2019-06-18 21:04] dgreif commented on #24
@ifeign thanks for the link.  That guy definitely seems a little out there...not sure if I believe he actually figured it out.  I've been reading through https://github.com/tchellomello/python-ring-doorbell/issues/23 and https://web.archive.org/web/20180403003637/http://www.kidder.io/2017/07/04/ring-doorbell-api/ which have some really good info on how to get an initial connection set up.  I think

[2019-06-18 21:08] ifeign commented on #24
Wonderful, thanks again for your work on this. I've given up on official
Homekit from Ring to ever materialize. It appears that the Ring Home
Assistant component got snapshots working, not sure if that's any help to
you.

On Tue, Jun 18, 2019 at 4:04 PM Dusty Greif <notifications@github.com>
wrote:

[2019-06-19 02:04] cantchooseaname8 commented on #24
@dgreif I got it working now. Thank you!

[2019-06-19 02:06] cantchooseaname8 commented on #24
@dgreif How do I get the location ID so I can only have one location in HomeKit? Thanks!

[2019-06-19 02:14] Jborn4christ opened #33 "Keypad & Cameras not showing up"
I am pretty experienced with running Homebridge, installed RingAlarm. Home picked up the motion sensor on my ring doorbell and floodlight, but no other devices showed up. No cameras, and no keypad control. Am I completely missing something? Is there additional configurations I need to apply?

 "platforms": [
    {
      "platform": "RingAlarm",
      "email": "myemail@gmail.com",
      "password":

[2019-06-19 22:28] Jborn4christ commented on #33
I figured it out. Had to remove the line from config about locations. I had just left it blank thinking it would bypass.

[2019-06-19 23:10] dgreif commented on #33
@Jborn4christ thanks for letting me know what the issue was! I was questioning whether or not I had messed something up in the v3.0.0 release.  I think a number of people have been confused by the optional parameters, so I pushed up some changes to the readme to hopefully clarify.  You do not need _any_ of the optional parameters unless you actually want to change from the default behavior.  All y

[2019-06-19 23:10] #33 closed

[2019-06-19 23:11] Jborn4christ opened #34 "One last question"
What file to do I edit to add cameras?

[2019-06-19 23:12] dgreif commented on #24
@cantchooseaname8 you should see a log like `Configuring ${cameras.length} cameras and ${devices.length} devices for locationId ${location.locationId}` in your homebridge output when you start it.  If you only have one location, you can completely remove the `locationIds` option from your homebridge config.

[2019-06-20 22:04] dgreif commented on #34
You should see the cameras as motion sensors and light/siren switches (if equipped).  Still working on getting an actual camera component to show with still images or live feed.

[2019-06-20 22:06] Jborn4christ commented on #34
Perfect! Thanks! Awesome work!

[2019-06-20 22:41] #34 closed

[2019-06-21 11:05] d0n4v4nb3ck3r commented on #24
Thanks so much!

[2019-06-21 23:46] dgreif opened #35 "Camera Live Feed"
The cameras provided by the homebridge plugin currently support snapshots, but not a live feed.  This is because the protocol for starting the live feed is complicated, and there are not any great npm packages for sip/rtp (that I can find) which make this easy to do.  I am happy to work with anyone experienced in sip/rtp to make live streams happen, but I don't have more time to personally work on

[2019-06-22 00:09] cantchooseaname8 opened #36 "Using Siri"
This isn’t really an issue but wanted to get your input more than anything. I used to be able to tell Siri “Turn Ring Alarm off” to deactivate the alarm. When I say it now, it activates the new siren switch. Do you have any suggestions for what commands I could say for Siri to control the alarm to turn it off?

[2019-06-22 00:24] ifeign commented on #35
It seems that every time a new preview is loaded, homebridge crashes then immediately reboots. It happens quickly enough that it's not noticable in the Home app, but I figure this behavior is not ideal.
[code]

[2019-06-22 01:19] ifeign commented on #36
You could create a scene with that name and have it turn off the alarm.

[2019-06-22 01:22] ifeign commented on #24
I noticed there's quite a delay in motion detection with the Doorbell 2. I'm assuming this is due to how you use polling. The plugin I used to use had a near-instal motion detection working. I'm no programmer or I'd say something more helpful than "check out this plugin," lol, but check it out. https://github.com/homespun/homebridge-platform-ring-video-doorbell

[2019-06-22 01:25] ifeign commented on #35
I also noticed that the camera needs to be added manually from the code shown in the Homebridge log. You should probably update the readme to include this. If I have time later today I can create a pull request.

[2019-06-22 01:37] cantchooseaname8 commented on #36
@ifeign that’s exactly how I have it set up. I have a scene called “Ring Alarm Off” but it now triggers the siren switch. I’ll keep testing out alternatives but if anyone has any suggestions, I’m all ears.

[2019-06-22 01:52] dgreif commented on #35
I already wrote about the setup in the readme: https://github.com/dgreif/ring-alarm/tree/master/homebridge#camera-setup.  Let me know if you think it needs more detail.

As for the error, you are correct that it's bombing out.  @smockle has already tracked it down, see #37 for further discussion.

[2019-06-22 02:05] smockle commented on #36
@cantchooseaname8 I think the scene should be called “Ring Alarm”, not “Ring Alarm Off”. If the scene is called “Ring Alarm”, Siri should interpret the phrase “Turn Ring Alarm off” as “Turn [scene] Ring Alarm [to the] off [state]” (i.e. disable it).

[2019-06-22 02:16] ifeign commented on #35
You're right, I missed that part, sorry about that!

On Fri, Jun 21, 2019 at 6:53 PM Dusty Greif <notifications@github.com>
wrote:

[2019-06-22 03:06] cantchooseaname8 commented on #36
@smockle I don’t think scenes can toggle a device back and forth between on and off. When setting up a scene you have to select a specific state for the device. In this case my scene has the alarm set to the specific state of being off. So when I say “Ring Alarm Off” it should run that specific scene which sets the alarm to off. However it doesn’t work anymore. It works fine when I manually press

[2019-06-22 05:36] d0n4v4nb3ck3r commented on #24
I am closing this, since you have implemented what I asked and since you opened a second issue for Camera Preview!! Thanks!

[2019-06-22 05:36] #24 closed

[2019-06-22 05:36] #26 closed

[2019-06-22 05:48] dgreif commented on #24
@d0n4v4nb3ck3r thanks for your patience while I got everything added.  The latest version supports snapshots from the cameras as well, but no live streaming video.

@ifeign Sorry to hear it seems more delayed.  I have the default polling set to 5 seconds, which seems to be the same as the plugin you linked.  Not sure what else would be causing additional delays as our implementations are very simi

[2019-06-22 06:03] dgreif commented on #36
@cantchooseaname8 take a look at https://github.com/dgreif/ring-alarm/tree/master/homebridge#changes-modes-on-arriveleave-home if you haven't already.  If you go though the work of setting it up, you never have to think about arming/disarming your alarm when you come and go.  As for arming at night, you could create other names for the scenes like "Good Morning"  and "Good Night" or whatever makes

[2019-06-22 15:00] cantchooseaname8 commented on #36
@dgreif I have that set up to automatically arm whenever we leave the geofence by using the dummy switches and it works great. Never have to worry about it (unless we accidentally leave a window open). About a year ago I had a homeless guy jump into my yard at the same time I was getting home so I never set it up to automatically disarm when I get home. That experience made me a little nervous to

[2019-06-23 07:57] OABsoftware opened #38 "Camera not responding"
Hi there.
First of all: you're developing a great plugin! I just installed the latest version with snapshot support.
My doorbell is a first generation Ring Video Doorbell, that makes a new snapshot only if the previous one was made at least 10 minutes ago (i.e. one snapshot every 10 minutes max).
So the current implementation of refreshSnapshot() in ring-camera.ts causes a problem.
If there is mot

[2019-06-23 10:44] adavison007 opened #39 "Ring 2FA"
Does this work if you have the ring 2fa turned on? I was using a different ring plugin until last week, I turned on Ring 2FA and then the plugin could not authenticate. Please can you advise if yours works with the Ring 2FA enabled before I install, thanks in advance...

[2019-06-23 14:09] dgreif commented on #38
@OABsoftware that is a really interesting issue!  I assumed they were keeping every version up-to-date on firmware since they have so many for sale, but it makes sense that they would let the first gen slide a little.  A couple things I need before I can implement a fix:

* Is this snapshot issue documented anywhere?  I haven't seen anything about this in the existing ring codebases that I dug thr

[2019-06-23 14:13] dgreif commented on #36
@cantchooseaname8 that is a really scary scenario that has gone through my mind once or twice, but I never thought it would happen!  Makes sense that you would be a little cautious after going through that.  Hopefully you can come up with a scene name that makes sense and get it working again.  Mind if I close this issue since it's not directly related to the plugin?

[2019-06-23 14:17] dgreif commented on #39
See #26 for previous discussion.  It might be reasonably doable depending on how refresh tokens work.  I'll look into it when I have time, but can't make any promises on a timeline.  I think 2FA is great and would like to get it implemented at some point.

[2019-06-23 17:18] davidn70 commented on #36
I recently "discovered" the new siren switch by accident like this myself.  I have it working the "old" way with Siri again by renaming the siren switch and put it in a different room in the home app from the rest of my ring alarm components.  I can now tell Siri to turn the ring alarm off and on and it works like it used to.  Hope this helps - YMMV.

[2019-06-23 21:46] cantchooseaname8 commented on #36
@dgreif yeah please go ahead and close it out. Thanks for all the help.

@davidn70 thanks for the tips. I’ll try renaming it and moving it to a different room.

[2019-06-24 03:27] #36 closed

[2019-06-24 08:33] OABsoftware commented on #38
To answer your questions:

- I don't know if the max of 1 snapshot per 10 minutes is documented anywhere. What I do know is that I see the same behavior in the Ring app: it won't show a recent snapshot until the previous snapshot is more than 10 minutes old.

- The "kind" value is "doorbell_v3".

- Hmm, I already made a number of modifications in the code, so taking a screenshot is a bit difficult

[2019-06-24 16:42] divemasterjm commented on #38
same here

[2019-06-24 16:46] divemasterjm opened #40 "more than one homebridge instance not starting"
hi i have 4 homebridge instances, therefore same plugins are shared but in the plugins where there is not ringalarm platform in the config they cant start due to the following error on start up
Load homebridge-ring-alarm.RingAlarm
[6/24/2019, 6:26:31 PM] TypeError: Cannot read property 'cameraStatusPollingSeconds' of null
    at new RingAlarmPlatform (/usr/local/lib/node_modules/homebridge-ring-al

[2019-06-24 16:51] dgreif commented on #40
That's really odd.  Looks like homebridge will call the `platformConstructor` with `null` config if it finds the plugin but it isn't configured (https://github.com/nfarina/homebridge/blob/84b4733ac75aba9e7c19d36be282cd8162077860/lib/server.js#L358).  Had no idea it could do that.  I'll add a check to make sure there is a config and just return out if there isn't.

That seems like an odd setup.  Ju

[2019-06-24 17:11] divemasterjm commented on #40
hi, others plugins works flawesly, i have 4 instances for various reasons, more than 100 accesories and specially cameras, if they have a problem homebridge becomes in "not responding state".

[2019-06-24 17:12] divemasterjm commented on #40
meantime like workaround i wrote in all other configs a platform with bad user/pw, ive got and error but starts

[2019-06-24 22:29] dgreif commented on #40
@divemasterjm give `v3.2.1` a try.  Should just see a log that says there is no config, with no error taking down the homebridge instance.

[2019-06-25 00:45] BradMcGonigle commented on #40
This solved the issue for me. Thanks for the quick update!

[2019-06-25 06:23] divemasterjm commented on #40
tried and solved the issue. Thanks for the quick update!

[2019-06-25 12:40] #40 closed

[2019-06-25 13:03] dgreif commented on #40
No problem, glad it was an easy fix ✅

[2019-06-25 15:38] dgreif commented on #38
@OABsoftware  I modified the `refreshSnapshot` method to try for 10 minutes for `doorbell_v3` devices.  I debated for a while about going with the approach you have above and decided against it.  My goal is to make sure that the timestamp you see in HomeKit is accurate to when the snapshot was taken so that users can be confident they are seeing an accurate image.  If we simply return after 15 att

[2019-06-25 16:29] divemasterjm opened #41 "camera shown only on one device"
Hi, ive come with another issue, i only have the camera on the first device ive added, if i open home app on other devices (ipad or macbook) i cant find the camera/door sensor ive got on iphone. Also the sensor is not firing up only sometimes.

[2019-06-25 17:22] d0n4v4nb3ck3r commented on #35
@dgreif So when using the snapshot feature, I am able to see the small snapshot on the notification but when force touching it, it says camera is not responding. Is that because live feed isn't implemented yet or is that an error I'm experience? if it is because live feed isn't implemented, is there anyway to use that snapshot to show as the camera until live feed is implemented so that you can se

[2019-06-25 17:46] dgreif commented on #35
@d0n4v4nb3ck3r that message is definitely from the lack of live feed.  On my iPhone, force touching into the notification only shows the snapshot without trying to show the live feed.  Not sure when it decides one way or another.  One thing I did to minimize that "no response" notification is to _not_ return a live feed, which usually gives you ~20 seconds while it waits for the feed before it sho

[2019-06-25 17:50] jamesg311 commented on #35
I’m having some issues getting the snapshot to appear in the motion detection notification. I have other cameras in HomeKit that may be causing a problem. Thoughts on troubleshooting? I can start by removing/adding them back.

[2019-06-25 20:18] dgreif commented on #35
@jamesg311 make sure that the camera and motion detector are in the same "room" in the Home app.  I don't think it's possible to separate them since they are a single homebridge device, but that would be one possible cause.  What value do you see in the `Model` section for the camera in homebridge?

[2019-06-25 20:29] dgreif commented on #41
@divemasterjm Sorry to hear you are having more issues.  The "external" devices in homebridge can apparently get into a funky state.  First, make sure you only have the ring plugin running in a single instance of homebridge, and make sure you don't have any other ring camera plugins (like homebridge-platform-ring-video-doorbell) running, as these can mess with notification reliability.  Assuming t

[2019-06-25 21:51] divemasterjm commented on #41
i tried everything you told me, still doesnt work, have you think to put also the ring sensor?

[2019-06-25 22:07] dgreif commented on #41
By `ring sensor`, do you mean a sensor that gets triggered when you press the doorbell? If so, it is already present.  HomeKit hides it behind the scenes as part of the camera, but it should still trigger notifications when the doorbell is pressed.  Do you want to see it as a separate sensor like it was in `homebridge-platform-ring-video-doorbell`?

[2019-06-25 22:27] problemss opened #42 "Motion Not Triggering"
I just finished setting this up. I can see the snapshot is updated in my camera view, but I am not getting any motion triggers. I have motion setup on the ring app, but it is not triggering my homekit motion accessory. Any ideas?

[2019-06-25 22:54] divemasterjm commented on #41
yes is very useful if you want to do any actions when triggered, like play sound trouhgt homepod, ive been investigating a bit, the prroblem of camera on others is ios 13 beta.

[2019-06-25 23:30] dgreif commented on #42
The Ring api for getting new events is definitely less than ideal.  If you have any other setups that are polling for events, you will definitely run into conflicts.  That means if you have anything using the python library or another homebridge plugin like `homebridge-platform-ring-video-doorbell`, they will be competing to grab the events from Ring.  It's hard to track down these issues, so you

[2019-06-25 23:32] dgreif commented on #41
Ahh, great to know you tracked that issue down!  I haven't tried ios 13 beta yet, but I'll hold off now that I know it's causing issues.  Thanks for letting me know!

As for the sensor switch, I'll look into getting it added.

[2019-06-25 23:53] problemss commented on #42
I will disable the other ring python library I have setup and see if that does it.

[2019-06-25 23:54] dgreif commented on #41
@divemasterjm I've added a `StatelessProgrammableSwitch` in v`3.3.0`.  You can add actions to the `Single Press` event.  _Notifications_ for doorbell presses are handled separately, as part of the main camera feed settings

[2019-06-26 03:56] d0n4v4nb3ck3r commented on #41
pretty cool that you added this. Anyway to make it an option in parameters so that if people don't want it they can disable it?

[2019-06-26 04:50] divemasterjm commented on #41
Thanks, I will give a try, if you some beta test just tell me. I’ve got appletv 4 and iPad running iOS 13 and HomePod, iPad Pro, MacBook and iPhone XS Max on Las iOS 12.

[2019-06-26 07:54] divemasterjm commented on #41
Hi, after trying 3.3.0 i have no snapshot image on camera anymore

[2019-06-26 10:53] divemasterjm commented on #42
Happens de same to me, no other ring library but sensor doesn’t fire up, I receive notifications from ring app but no from plugin sensor

[2019-06-26 10:56] divemasterjm commented on #41
After disabling iOS 13, still have problems on others devices only on the one I’ve added camera

[2019-06-26 14:57] dgreif commented on #41
@divemasterjm sorry to hear you are still having issues.  I would recommend going through the remove/add process again that I detailed before.  Probably something weird in HomeKit on ios 13 beta

[2019-06-26 16:29] problemss commented on #42
I disabled and set to 1 second. Still not triggering. Is there any debugging I can turn on to look into it?

[2019-06-26 17:03] dgreif commented on #42
There isn't currently any debug flags that you can turn on to see additional details, but that's something I could add.  This particular issue is very hard to track down because the Ring api is very fragile.  If one other client is grabbing events, you will lose the ability so see them.  I'm going to look into auth sessions a little more and see if I can make it less fragile, but I can't make any

[2019-06-26 17:55] divemasterjm commented on #42
Just for your info, there is a plug-in in homeassistant who works perfectly with.

[2019-06-26 23:38] problemss commented on #42
@dgreif So i put the console.log code after the first time I saw poolforactivedings$.next() (line 76) and it would print out [] and the doorbell motion would say not responding. So I then moved it to the second time I saw the code (line 87) and it generated a reference error and caused the module to no longer function.

I had some IFTTT recipes that used ring. I went ahead and turned those off als

[2019-06-26 23:40] ifeign opened #43 "Add battery life to Doorbells"
I noticed that though in your readme it says that your plugin supports camera battery life, it is not reported for cameras. It works in this plugin https://github.com/homespun/homebridge-platform-ring-video-doorbell

[2019-06-26 23:45] dgreif commented on #42
@divemasterjm do you have the homeassistant plugin running at the same time as the homebridge plugin?  If so, that might be what's conflicting.  Try turning that off and running just homebridge.

[2019-06-26 23:46] dgreif commented on #43
@ifeign I do have the low battery alerts set up, but not the actual battery level.  My cameras are all wired so I don't have a good way to test it out, but I can push an update in the next few days that takes a stab at battery levels.  I'll let you know when it's out

[2019-06-26 23:48] ifeign commented on #43
Wonderful. I am grateful that you are so actively developing this plugin!
I'll be happy to test your battery implementation since you don't have
anything battery powered.

On Wed, Jun 26, 2019 at 4:46 PM Dusty Greif <notifications@github.com>
wrote:

[2019-06-26 23:50] problemss commented on #42
@dgreif So i had to put the console login under `if (!activeDings || !activeDings.length) {` and under `activeDings.forEach(activeDing => {` or else the module would become unresponsive. After putting those logs in place. Only the one under !activeDings is being called, the other log never gets called, confirming your assumption that it is always empty []. I am going to try a few more things now t

[2019-06-27 00:35] problemss commented on #42
So I am in the `fetchActiveDings()` function

I am trying to print out the URL it is using but I am just getting this

`https://api.ring.com/clients_api/dings/active?burst=false`

I assume the clients_api will get replaced when the URL is actually called? Is there a way I can get the full URL so I can call it manually?

[2019-06-27 01:36] dgreif commented on #42
@problemss that actually is the full url.  Should be able to do a `GET` to that endpoint.  Also need to include the `Authorization` header and I think you need `'user-agent': 'android:com.ringapp:2.0.67(423)'` from previous testing, but that one _might_ be optional.

[2019-06-27 06:29] divemasterjm commented on #41
After 24h of sync, now is working except sensor which is in another thread, thanks for your support.

[2019-06-27 06:29] #41 closed

[2019-06-28 18:03] malmentm opened #44 "Does it support he new Door View cam?"
Does it support he new Door View cam?

[2019-06-28 18:23] dgreif commented on #42
@problemss it's taken a lot of debugging and digging through other libraries, but I finally got to the root source of the issue on events not registering.  It all has to do with how we are authenticating and setting up a session with Ring.  I have most of the fix in place, but need to think through corner cases before I push it up.  I've got a busy weekend, but I should have an update out early ne

[2019-06-28 18:26] dgreif commented on #44
Yep, it should support it right out of the box.  I haven't had anyone test it out yet, but I don't for-see any issues.  Let me know if you try it out or have any questions!

[2019-06-28 18:27] problemss commented on #42
@dgreif that is awesome! Thank you so much! I will be out of town next week for the 4th but am excited to try the fix out when I get back! I also greatly appreciate you spreading the knowledge in the other project as well.

[2019-06-29 08:50] odenisenko commented on #42
guys. unfortunately for getting motion event we should create a session and use it.
without session no motion alert at all.

PS: dings/active?api_version=9&auth_token=zzbGBjWFcvCZKArwFQfH.

[2019-06-29 13:22] itsgabraf opened #45 "Where do I configure the API?"
Where do I insert that part under “Setup and Configure” for the API?

[2019-06-29 13:30] dgreif commented on #45
https://github.com/dgreif/ring-alarm#setup-and-config is an example of creating a new instance of `RingApi`.  You can also take a look at https://github.com/dgreif/ring-alarm/blob/master/examples/example.ts.  Let me know if you need additional clarification

[2019-06-29 13:43] itsgabraf commented on #45
Yea I need a bit more help. I see the code but don’t know where exactly to create it in...

[2019-06-29 13:46] dgreif commented on #42
@odenisenko as long as we include the hardware_id header from the session motion events work great. We don’t have to include the session auth_token, oauth authorization header is a better approach for authentication. Are you experiencing something different?

[2019-06-29 13:51] dgreif commented on #45
I guess that depends on what you are trying to do. If you have a nodejs project, you would install the @dgreif/ring-alarm package and import it into some file in your project. If you want the homebridge plugin, then you don’t need to interact with the api at all

[2019-06-29 13:57] itsgabraf commented on #45
Oh ok. I’m trying to do the HomeKit. The camera says no response though with no images popping up in notifications or the camera preview.

[2019-06-29 14:56] d0n4v4nb3ck3r opened #46 "Customize Doorbell Programable Switch"
Sorry to be so needy, but is there anyway you could add an option to disable the programable switch if someone would prefer not to have it?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-29 17:01] #46 closed

[2019-06-29 17:03] dgreif commented on #46
@d0n4v4nb3ck3r no problem at all!  I told you I would do it, but it got lost in another issue.  Try `hideDoorbellSwitch: true` in v`3.4.0`

[2019-06-29 17:04] dgreif commented on #42
@problemss I found some time to work on it this morning and I got all the session stuff finished up.  Give v`3.4.0` a try!

[2019-06-29 17:07] dgreif commented on #45
@itsgabraf what type of camera do you have?  Should say in the "Model" field for the camera in the Home app

[2019-06-29 17:31] problemss commented on #42
@dgreif I am excited to try it out when I get home. I feel stupid for asking, but I assume it is just npm update home bridge-ring-alarm correct or so I have to manually replace it?

[2019-06-29 17:38] itsgabraf commented on #45
Doorbell V3 - I was able to only once get an image on one device...have tried removing and adding. No luck. And motion isn’t reliable yet either :-/

[2019-06-29 20:02] briangot2 commented on #41
I still cannot get the ring camera screenshot to show up on a second device (invited user via homekit). I am on the latest version of your module and I followed your instructions above by deleting the files and re-adding the camera. I just can’t get it to show the camera screenshot on my wife’s phone. Any help would be appreciated.

[2019-06-29 20:59] dgreif commented on #45
Unfortunately the doorbell v3 only refreshes it's snapshot image once ever 10 minutes.  To confirm this, open your Ring app and see if you can get that app to refresh the image any faster than 10 minutes (without going into live view mode).  Because of this restriction, the homebridge plugin is not able to pull images very often, which makes it seem like it isn't working.  See previous discussion

[2019-06-29 21:00] dgreif commented on #42
@problemss you have it right.  All you need to do is update the homebridge-ring-alarm npm module and restart homebridge

[2019-06-29 21:05] dgreif commented on #41
@briangot2 See #45.  Do you have a doorbell_v3? (Check the `Model` section in the camera settings in the Home app)

[2019-06-29 21:39] malmentm commented on #44
Oh. Great :)

[2019-06-29 22:24] #44 closed

[2019-06-30 00:17] problemss commented on #42
@dgreif works like a charm!!!! Thank you!!

[2019-06-30 01:37] d0n4v4nb3ck3r commented on #46
@dgreif

@dgreif I am so sorry!! I wasn’t sure if you saw that in one of the other issues or not. And wasn’t sure you responded to me or someone else. Thank you so much for adding this know!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-30 06:13] briangot2 commented on #41
Yes. doorbell_v3

[2019-06-30 13:20] malmentm opened #47 "Question About Homekit"
Hello
Does all acceccories connected to the alarm base station show up in homekit as sensor? Door / Window Sensor / Smoke / Motion Detectors?

[2019-06-30 20:31] dgreif commented on #43
@ifeign added in v`3.5.0`.  Should show up if the device is < 100%, and then will show from then on.  Wired cameras always report 100%, so I have to see < 100% to know it's battery powered 😕.  Let me know how it works for you!

[2019-06-30 20:35] dgreif commented on #47
@malmentm yes, the homebridge plugin supports all of those and more.  See https://github.com/dgreif/ring-alarm/tree/master/homebridge#supported-devices-via-ring-alarm-and-ring-smart-lighting-hubs for the full list.  If you have any z-wave devices connected to the hub that are currently not supported, please let me know and I will get them added.

[2019-06-30 21:41] ifeign commented on #43
Just tried it out, works great! Thank you so much.

On Sun, Jun 30, 2019 at 1:31 PM Dusty Greif <notifications@github.com>
wrote:

[2019-06-30 23:06] #43 closed

[2019-07-01 13:39] johnsonjoshuaa commented on #42
I can also confirm the update fixed my issue with motion events not being captured. Thank you!

[2019-07-01 15:57] dgreif commented on #42
@problemss @johnsonjoshuaa thank you both for confirming that it's working!  I just released another update that should improve motion/ding alert times even more.  Give v`3.5.1` a try when you get a chance.  It looks like Ring automatically captures a snapshot when there is an event, and HomeKit was sometimes requesting it after it was already updated.  When this happened, it could take up to 30 s

[2019-07-01 15:57] #42 closed

[2019-07-01 15:59] #47 closed

[2019-07-01 16:00] dgreif commented on #45
Closing in favor of #38

[2019-07-01 16:00] #45 closed

[2019-07-01 22:12] johnsonjoshuaa commented on #42
@dgreif Thank you for the update. I installed it and I did notice the screenshots, and notifications where much quicker. The screenshots are also usable now. I noticed prior to the update the screenshot would be delayed and not always catch what triggered the motion. After the update the 7 motion events I have triggered on all 3 devices have resulted in a usable screenshot. So from my perspective

[2019-07-01 22:17] dgreif commented on #42
@johnsonjoshuaa I appreciate the feedback and testing.  Glad to hear it's working well! 🎉

[2019-07-01 22:19] dgreif commented on #43
@ifeign thanks for testing out the battery life.  Are there any other features from that other homebridge plugin that I am currently missing?

[2019-07-01 23:50] ifeign commented on #43
Nope! Seems like you have either met or exceeded the functionality of the other plugin.

[2019-07-02 03:25] tsightler opened #48 "Doorbell doesn't appear with shared user account"
I have a weird issue that I just can't seem to figure out.  I was trying to add support for cameras to my ring-alarm-mqtt bridge script (probably with a rename to ring-mqtt since it will no longer be just for Ring alarm) but I've hit a snag.  I use a shared user account for all of my integrations for multiple reasons, mainly that I have 2FA enabled on the owner account, but also because my owner a

[2019-07-02 03:39] dgreif commented on #48
@tsightler glad to see you are adding cameras! I have been debating a name change as well for the same reasons.  As for the shared doorbell, I think you stumbled on an area I need some slight improvements.  The `ring_devices` endpoint returns `doorbots`, `stickup_cams` and a third array that I have so far been ignoring called `authorized_doorbots`.  I am guessing the shared doorbells show up in th

[2019-07-02 04:36] tsightler commented on #48
@dgreif you are too fast!  I'll admit I probably spent too much time figuring out how to clone a branch and get compiled Javascript from the Typescript source, but once I got past that it worked perfectly.  Thanks for the quick turnaround.

I've already managed to get crude camera support working, so now I just need to clean that up and work on some of the cooler features, like adding camera snaps

[2019-07-02 04:47] dgreif commented on #48
@tsightler glad it worked!  Version `3.6.0` released.  Sorry about the typescript stuff, it's great when you are used to it, but definitely extra work if you are used to vanilla js.  I hope your additions for MQTT go well.  I've got snapshots tuned pretty well at this point.  Let me know if you run into any issues or need anything else added to the API.

[2019-07-02 04:47] #48 closed

[2019-07-02 21:10] jcleek opened #49 "Alarm instructions and stupid SIREN!!!"
I like to think I am a technical guy. For the life of me I cannot consistently arm (home and away) and disarm my Ring. The stupid siren keeps coming on.

1) What are the actual full Siri commands to arm in home, away and disarm?
2) Can teh siren switch be DELETED??

[2019-07-02 21:55] dgreif commented on #49
@jcleek sorry to hear you are having issues!  We have had some previous discussion around using Siri in #36.  I can definitely add an option to hide the siren switch if need be.  Just did some testing and it looks like these commands work fine:

`Set Ring Alarm to Away` or `Arm my security system`- Away mode activated
`Set Ring Alarm to Stay` or `Arm my security system for stay`- Home mode activat

[2019-07-02 22:20] tsightler commented on #48
Ha, no sweat on the typescript stuff, I mostly hack around on this stuff to learn a little about coding so it was a learning experience, it wasn't really that difficult, just got spoiled to the fact that when I do npm from the master branch it "just works".

[2019-07-02 22:59] jcleek commented on #49
Adding an option to remove the siren completely would be awesome. I will try the other commands later when I get home and report back. Thanks!

[2019-07-02 23:37] dgreif commented on #49
Added a `hideAlarmSirenSwitch` in v`3.7.0`.  Also added Siri commands to the readme: https://github.com/dgreif/ring-alarm/tree/master/homebridge#siri-commands-for-alarm.  Let me know how that works for you

[2019-07-02 23:39] dgreif commented on #36
@cantchooseaname8 I had another person asking about Siri commands so I looked into it more.  I've added a list of functional commands to the readme: https://github.com/dgreif/ring-alarm/tree/master/homebridge#siri-commands-for-alarm.  I also an option to get rid of the siren switch entirely (`hideAlarmSirenSwitch`) if you liked the old way better.

[2019-07-03 00:49] jcleek commented on #49
Your commands seem to work perfectly. Thank you! Now about that siren...

[2019-07-03 00:50] jcleek commented on #49
BTW I am using ARM MY.... and DISARM MY. Those work.

[2019-07-03 01:24] jcleek commented on #49
The siren disable works as well. Thank you!

[2019-07-03 01:24] #49 closed

[2019-07-03 09:54] OABsoftware commented on #38
@dgreif I agree it's better that the user sees a valid age of the snapshot in the Home app.
But in the current implementation (version 3.7.0) I only get a fresh snapshot in the Home app once every 30 minutes...

[2019-07-03 14:31] divemasterjm commented on #38
Happens de same to me.

Enviado desde mi iPhone

[2019-07-03 15:12] dgreif commented on #38
@OABsoftware @divemasterjm I really want to get you guys the best fix for this that I can.  The camera itself is limiting how frequently new snapshots can be taken.  Would you prefer I always hand you the latest snapshot, even though the timestamp in Home won't match when it was actually taken?  I'm open to any other suggestions...

[2019-07-03 15:46] divemasterjm commented on #38
I will prefer taking the last, nevertheless if matching

Enviado desde mi iPhone

[2019-07-03 17:13] divemasterjm commented on #38
Another issue is if you look the camera on more than one device camera doesn’t refresh properly only in one device, also I don’t get rich notifications even if in the ring app I have send motion alerts.

JuanMa

[2019-07-03 21:39] tsightler opened #50 "Feature Request: onDingDetected"
So I've been working on adding camera support to ring-mqtt and perhaps it's just my inexperience, but I'm finding it confusing to work with cameras because it seems like there are so many different ways to get state for various things.

I've worked out that I can subscribe to onData and get state for lights and siren, which is great and simple.  I can subscribe to onMotionDetected, and get simple

[2019-07-03 22:27] dgreif commented on #50
@tsightler I think you have a really good understanding of how everything is currently exposed, nice work!  There is definitely a subtle difference between the doorbell presses and the motion events.  For motion, I'm leaving the dings around for 65 seconds, and allowing for overlap between events.  This is to prevent multiple motion events triggering in my homebridge plugin if there is constant mo

[2019-07-03 23:47] dgreif commented on #38
@OABsoftware @divemasterjm give v`3.7.1` a try.  I have it set to try for 5 seconds to get a new snapshot, falling back on the stale snapshot if that times out.  Sorry I don't have a better solution, but this is definitely a drawback of that particular camera model.

[2019-07-04 01:16] tsightler commented on #50
So i guess my opinion is probably colored by the way the Ring component for Home Assistant behaves and how the Ring app behaves.

Based on what it seems, dings have a duration as they even have a duration property.  The Home Assistant component seems to use this as the duration of the ding, whether motion or doorbell press.  It seems the ding duration is 180 seconds and thats the behavior I feel l

[2019-07-04 02:02] dgreif commented on #50
@tsightler thanks for the additional background info.  I looked at the dings a little bit and it looks like you are correct, the `expires_in` field is ~180 for both motion and doorbell presses.  The only hesitation I have about this is that my gut tells me the 180s is an expiration for the SIP connection details (although I have seen other threads that say those expire in ~15s).  It might be worth

[2019-07-04 04:08] d0n4v4nb3ck3r opened #51 "After 3.6 Update"
Ever since I updated to 3.6 I have not got an update for the snapshots. I am going to do a reset of my HomeBridge to start from scratch and see if that’s what the problem is. If not just wanted to let you know.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-04 04:44] dgreif commented on #51
Odd...I've been keeping mine up to date and it's working fine.  Let me know how the rest goes.  What model of camera do you have?

[2019-07-04 05:00] divemasterjm commented on #38
It works!!!, now the user experience is much better, thanks for your help. I didn’t try rich notifications yet.

[2019-07-04 06:42] OABsoftware commented on #38
@dgreif Yes, this works. But 5 seconds is a bit short, e.g. if you have a low bandwidth internet connection (like I do).

[2019-07-04 08:21] divemasterjm commented on #38
Rich notifications are back!!! Thanks

JuanMa

[2019-07-04 11:21] d0n4v4nb3ck3r commented on #51
I have the ring doorbell pro and the floodlight

[2019-07-04 11:37] #51 closed

[2019-07-04 14:43] tsightler opened #52 "isDoorbot flags false for Doorbell Pro"
Looking at your homebridge code it seems that you use isDoorbot to determine if a device is an actual doorbell vs just a camera which is also what I was attempting to do when using the API.  However, this does not seem to be reliable as my Doorbell Pro (kind: lpd_v2) shows "isDoorbot: false" but is obviously a doorbell.  Is there some other way to determine if a device is a doorbell vs just a came

[2019-07-04 15:50] malmentm opened #53 "Camera not reponding is it normal?"
Camera not reponding is it normal? When i click on the camera i get not responding. I know live stream is not supported. It this normal?

[2019-07-04 16:09] dgreif commented on #52
My bad! I’m guessing that is your camera from the shared account. It’s because it is in authorized doorbots instead of doorbots. I’ll get a fix out when I can, might be a day or two.

[2019-07-04 16:10] dgreif commented on #53
Yep, if you click into the camera feed it will show not responding because there is no stream. You should at least be able to see snapshots

[2019-07-04 17:01] malmentm commented on #53
i can confirm it seems to work with the new door view camera

[2019-07-04 18:47] malmentm commented on #35
I have noticed that camera snapshot does not show on the Apple Watch

[2019-07-04 18:48] ifeign commented on #35
It works on my Apple watch. Just press the camera tile and let it refresh.

On Thu, Jul 4, 2019 at 11:47 AM malmentm <notifications@github.com> wrote:

[2019-07-04 18:50] malmentm commented on #35
That worked :)

[2019-07-04 18:55] malmentm commented on #35
Would be nice if it’s possible to use the snapshot as a stream or something to avoid the error messages

[2019-07-04 19:43] tsightler commented on #52
Ah, OK, that makes sense now.  It's no rush, I can hack around it for now and I won't have my code ready and tested for release for a few weeks anyway due to other things pulling me away.

[2019-07-04 21:02] #53 closed

[2019-07-05 07:13] malmentm opened #54 "Add feature to hide motion sensor"
Hello! Would it be possible to add an option to hide the motion sensor in HomeKit?

[2019-07-05 11:33] itsgabraf opened #55 "Random Motion Alerts"
Does anyone else get random “fake” motion alerts from HomeKit when you open Home on a different device sometimes? I know it’s not real because my Ring app doesn’t make the motion alert notification. But it does make my chimes ring...I have doorbot_v3...

[2019-07-05 15:41] dgreif commented on #54
@malmentm just the camera motion sensors?  The alarm has motion sensors too

[2019-07-05 15:42] dgreif commented on #55
@itsgabraf that sounds pretty odd.  Can you give some more detailed steps on how to recreate this issue?

[2019-07-05 15:46] itsgabraf commented on #55
It hasn’t been an every time occurrence but I did notice today and yesterday that a couple of times when I’d open Home on my device, that the Motion notification (from HomeKit) was triggered, which made all my chimes go off but oddly enough not on my Ring app or any Ring official notifications. It did it today again, and something happened that made my Ring app unable to work until I logged out an

[2019-07-05 15:55] dgreif commented on #55
What version of the plugin are you on?

On Fri, Jul 5, 2019 at 10:46 AM itsgabraf <notifications@github.com> wrote:

[2019-07-05 15:56] itsgabraf commented on #55
latest

[2019-07-05 16:13] malmentm commented on #54
The Doorbell Camera. I don't use it so it feel unneccesary to have them shown in homekit 💃

[2019-07-05 18:07] cantchooseaname8 commented on #36
@dgreif I just updated to 3.7.1 and added the hideAlarmSirenSwitch to my config.json file. I followed that by rebooting homebridge. However, the siren switch is still in HomeKit. It didn't get removed for some reason. Any idea what might be causing this?

[2019-07-05 19:10] dgreif commented on #55
It made your Ring Chime go off? As in, the little device that plugs into the wall and makes noise when your doorbell is pressed?

[2019-07-05 19:20] dgreif commented on #52
@tsightler give v`3.7.2` a shot.  It was definitely an oversight when I added authorized doorbots.  Thanks for letting me know!

[2019-07-05 19:30] dgreif commented on #38
@OABsoftware I was fairly intentional about use 5 seconds because I wanted it to fail _fast_ if there is no new snapshot.  Every second that it waits for a new snapshot is another second that HomeKit waits to send out the notification for motion/doorbell press because it is waiting for the snapshot.  I could have it wait 15 or 20 seconds, but that means your notifications will be delayed that long

[2019-07-05 19:45] dgreif commented on #54
Added `hideCameraMotionSensor` in v`3.8.0`.   Let me know how it works for you.

[2019-07-05 19:48] malmentm commented on #54
Worked great! Thanks :)

[2019-07-05 20:14] malmentm commented on #9
@ajcutshall which smoke sensor did you use?

[2019-07-05 20:48] dgreif commented on #36
@cantchooseaname8 I noticed some oddities with this when I implemented it.  I think I just tracked down the issue.  Give v`3.8.1` a try

[2019-07-05 21:51] malmentm opened #56 "Odd behaviour with new Ring Door View"
The snapshot provided in homekit is atleast 5-10 min old even though it says it was updated one second ago.

It's also very slow to update when looking in the homekit app, takes aboout 30 second but it varies.

If i have not opened the app for an hour it says it was updated an hour ago when i last opened the home app, but that might be expexted behaviour

Just want to know if this is normal or som

[2019-07-05 22:39] dgreif commented on #56
@malmentm thanks for the info. It sounds like it’s behaving very similar to the standard Doorbell (doorbots_v3). It is possible that all of their battery powered cameras have the same behavior. It would be very helpful if you could help prove this theory. What I need to know is how quickly the Ring app can update snapshots. Just close and reopen the Ring app to see if you can get a new snapshot af

[2019-07-05 23:21] cantchooseaname8 commented on #36
@dgreif that did the trick. Thank you!

[2019-07-06 01:05] tsightler commented on #50
I've tried to test this and, at least on my devices, (I have a Doorbell Pro, a Floodlight cam, and two Stickup Cams) it seems like I can only get a "ding" every 60 seconds at most.  If I ring the doorbell over and over I don't get a new event until ~60 seconds and the same with motion.

After playing with this a little it turns out I was able to write a pretty simple function that gives me the beh

[2019-07-06 01:16] tsightler commented on #52
It works!  Thanks for the update.

[2019-07-06 01:20] dgreif commented on #52
Awesome! Sorry for creating a bug with my shared devices fix lol. Thanks for all your feedback, it’s great to have someone testing more corner cases than I can with my setup.

[2019-07-06 01:20] #52 closed

[2019-07-06 01:21] #54 closed

[2019-07-06 01:25] dgreif commented on #50
Thanks for the in-depth testing! Since the real ring api seems to follow a 60 second lifetime, I think I’ll stick with that. Good to know how home assistant handles it too.

[2019-07-06 01:25] #50 closed

[2019-07-06 03:07] itsgabraf commented on #55
Yes

Gabriel Rafael
Menswear Blogger / GQ Insider
www.gabrielrafael.com
0447194078
________________________________
From: Dusty Greif <notifications@github.com>
Sent: Saturday, July 6, 2019 5:10:47 AM
To: dgreif/ring-alarm
Cc: Gabriel Rafael; Mention
Subject: Re: [dgreif/ring-alarm] Random Motion Alerts (#55)

It made your Ring Chime go off? As in, the little device that plugs into the wall and ma

[2019-07-06 07:40] OABsoftware commented on #38
@dgreif Well, as I wrote earlier, I'm on a rather low-bandwidth internet connection (8 mbps down, 800 kbps up).
Your (great) plugin hammers the Ring `dings/active` service every 5 seconds to check if the doorbell was pressed (and indeed, that is the only way to find out).
If it was pressed, the plugin sends a request to the Ring servers to tell my doorbell to upload a snapshot.
In my situation the

[2019-07-06 12:21] malmentm commented on #56
Yes, it seems like you're correct.  It takes 10 minutes for a new snapshot to appear in the ring app. A sidenot though is when i have motion sensor disabled in the ring app it never updaes.

[2019-07-07 15:57] dgreif commented on #23
@codahq would you mind linking me to some of the info you used to set up you https monitoring?  The pinned certs definitely make this more difficult...

[2019-07-07 17:49] dgreif commented on #39
@adavison007 @d0n4v4nb3ck3r I have added 2fa support for the api and the homebridge plugin.  See  https://github.com/dgreif/ring/tree/master/homebridge#2-factor-authentication-2fa for setup instructions.  I plan to add another method to get a `refreshToken` at some point, but it should be functional the way I have it set up now.  Let me know how it works for you!

[2019-07-08 13:35] adavison007 commented on #39
Thank you for this, I’m running hoobs, so I guess I should see the request if I open the terminal? Or in logs?

[2019-07-08 14:52] BradMcGonigle commented on #39
@adavison007 looking at the Hoobs logs won't work because your need to enter the two factor code that Ring sends via SMS when homebridge starts up to get the `refreshToken`.

I'm only vaguely familiar with hoobs but it probably starts homebridge on boot so there is not method for entering the two factor SMS code that Ring sends.  You'd have to start homebridge manually in console to get the prompt

[2019-07-08 15:22] adavison007 commented on #39
Bugger!!! Just tried this and nothing appears in logs or terminal in hoobs.... everything from ring stopped working, so had to turn off 2FA again... let me know if you find an alternative option? I've attached a screen shot of the hoobs start up config?
<img width="1458" alt="image" src="https://user-images.githubusercontent.com/47482260/60822022-9186a000-a19c-11e9-9c1c-98fc10136f9a.png">

[2019-07-08 15:23] adavison007 commented on #39
@BradMcGonigle I can separately ssh into hoobs, if that helps?

[2019-07-08 15:26] dgreif commented on #39
Sorry for the bad user experience on this. I got the main functionality working, but it could definitely be easier to get the refresh token. I’m planning to publish a cli tool to make it simple in the next few days.  You would have to ssh in and run homebridge manually right now. The problem is that the prompt for the 2fa code can easily get lost in the rest of the homebridge output.

[2019-07-08 15:28] adavison007 commented on #39
@BradMcGonigle Cool, let me know when you want me to test the CLI option, really appreciate the support on this. Then we need live stream for the cameras 🥇

[2019-07-08 15:39] BradMcGonigle commented on #39
@dgreif please....thank you so much for your work on everything here.  The community to is  lucky to have fantastic contributors like yourself.  I'm always impressed with the speed and quality of the updates/releases you've been putting out lately.

If you need help testing the cli tool, I'd be happy to help.

[2019-07-08 17:33] d0n4v4nb3ck3r commented on #39
@dgreif 2fa works awesome!!! Thanks so much for implementing this! I wasn’t expecting it this soon. You are quick.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-10 14:03] jianyu-li opened #57 "Base station connection issues"
I am now having connection issues with the base station and the official ring app

[2019-07-10 14:06] dgreif commented on #57
Log out and back in to the app. I have had similar issues but haven’t had a chance to track it down yet

[2019-07-10 14:07] jianyu-li commented on #57
That did the trick. Does it happen often? Thank you very much

[2019-07-10 14:23] dgreif commented on #57
No, i think it's only happened 2 times for me over the past several months.  Let me know if it happens to you (or anyone else seeing this issue).  I'll leave this open as a bug so that I have something to track it against.

[2019-07-10 14:24] jianyu-li commented on #57
Will do. Thanks for the quick response!

[2019-07-11 03:17] LeviJSmith commented on #57
I’ve had it happen 3or4 times in the last week.  Logging out and back in fixed it fir a few day.

[2019-07-11 03:18] jianyu-li commented on #57
Does it only happen to the account that’s signed into homebridge or does it happen to anyone that has access to your cameras?

[2019-07-11 03:23] dgreif commented on #57
It happened to me again today on the account I use for homebridge. I’m trying to get set up so I can debug the Ring app, but it’s a fair amount of work. @codahq what Xposed module did you use for pinned certain?

[2019-07-11 03:32] jianyu-li commented on #57
I just had to log out and log back in again but now I got this message https://imgur.com/gallery/kvRyjF6

[2019-07-11 03:35] dgreif commented on #57
Interesting, I wondered if it was a rate limiting issue. Try shutting down homebridge about 3 minutes and then try logging into the Ring app again

[2019-07-11 04:15] jianyu-li commented on #57
I created a new shared account to see if that helps. I also wonder if every time I fetch the camera feed it counts toward some quota? I tend to check it more than I should :)

[2019-07-11 04:16] jianyu-li commented on #57
Oh and just to report back I did log out for a while and was able to successfully log back in. So thanks for the tip

[2019-07-11 12:35] LeviJSmith commented on #57
I only have the one account so I can’t say for sure if it’s just the one account or others.

[2019-07-11 13:03] jianyu-li commented on #57
I’ll let you know if having a dedicated account for homebridge helps

[2019-07-11 14:50] jahnkenneth opened #58 "Not able to add doorbell camera"
Hello,
I´ve installed and configured the plugin.
The logs shows that my doorbell camera has been found.

When i tried adding it to the Home app, it failed after a while... When trying to add it a second time, it doesn't show under the add new accessory dialogue in the Home app.
Have tried restarting Homebridge.
:-(

[2019-07-11 17:18] dgreif commented on #58
Sorry to hear you are having issues.  Try following these instructions and let me know how it goes: https://github.com/dgreif/ring/issues/41#issuecomment-505609919

[2019-07-11 17:31] jahnkenneth commented on #58
I seems I only have two files in the persist directory, and none of them are pointing to a camera :-(
Also, I only have one "ring" plugin...

[2019-07-11 17:37] dgreif commented on #58
Odd..can you confirm that you are on the same network as your homebridge setup?

[2019-07-11 17:38] jahnkenneth commented on #58
Yes, I am. :-)

[2019-07-11 17:41] jahnkenneth commented on #58
Here is the content of one of the two files...
Is this the camera?

{"displayName":"Homebridge","category":2,"pincode":"031-45-xxx","signSk":"91304284fced3cb268bd189426df9cf3cb7f8ccf6bcaf1ce9d79cacfa81645c5f963a0c1ee2806656089c95d08c4f6b672$

[2019-07-11 17:45] dgreif commented on #58
Nope, the "displayName" would be the name you have assigned to your camera in the Ring app.  A more drastic step that you can take is deleting the `persist` and `accessories` directories.  Note, this will mess up any automations or settings you have in HomeKit for any other homebridge accessories.  If you don't have many other plugins, it's not a big deal.  Make sure you stop homebridge before del

[2019-07-11 17:46] jahnkenneth commented on #58
I was really hoping not to have to do that... :-(
I have a few plugins running, and would hate to set it all up again...

[2019-07-11 18:04] dgreif commented on #58
@jahnkenneth I totally get where you are coming from.  I don't have any other ideas at this point, but I also can't guarantee it will fix the issue.  Sounds like homebridge got into a funky state with your camera and I haven't had anyone else run into this issue yet.

[2019-07-11 18:35] jahnkenneth commented on #58
Tried deleting both the folders, but still i can't get the camera to show... :-(

[2019-07-11 18:45] dgreif commented on #58
I believe it uses an additional port to expose the camera.  Maybe you need to open that port for your phone to see it?

[2019-07-11 18:49] jahnkenneth commented on #58
Yes, so it seems...
[0;37m[2019-7-11 19:33:31][0m [0;36m[Config][0m Console v3.9.6 is listening on port 8080.
[0;37m[2019-7-11 19:33:31][0m [0;36m[Config][0m Using Form Authentication
[2019-7-11 19:33:29] Please add [Inngangsdør] manually in Home app. Setup Code: 031-45-676
[2019-7-11 19:33:29] Inngangsdør is running on port 37921.
[2019-7-11 19:33:29] [RingAlarm] Adding new accessory lpd_

[2019-07-11 19:06] dgreif commented on #58
Looks like you need to open `37921`.  _Where_ you need to open it is entirely dependent on your setup.  For Windows, probably in your firewall settings on the computer.  Beyond that, maybe your router.  I probably won't be able to provide any more help than that as every network is unique

[2019-07-11 19:06] jahnkenneth commented on #58
I will check with my ISP tomorrow. :-)

[2019-07-11 20:28] metroidmen opened #59 "Hiding doorbell button and siren switch configuration not working."
I set these commands up in the homebridge configuration file and it just doesn’t seem to do anything. I’ve made sure they were put in correctly. They just aren’t taking.

[2019-07-11 20:42] dgreif commented on #59
Can you post a copy of the ring section of your config?  Make sure you don't include your real email/password

[2019-07-11 20:57] metroidmen commented on #59
http://tinypic.com/r/70xbmv/9

[2019-07-11 21:15] dgreif commented on #59
Those look correct.  What version of the plugin do you have installed?

[2019-07-11 21:22] metroidmen commented on #59
It’s up to date. It’s been like this for the last few versions. This never seemed to work, unfortunately.

[2019-07-11 21:59] dgreif commented on #59
Maybe update homebridge?  I know others have had success with those settings and I have tested them out locally so I am confident that they work.  If nothing else does the trick, you will need to wipe your `.homebridge/accessories` directory, but I try to avoid that as much as possible as it can mess up any automations you have set up

[2019-07-11 22:30] eddydas commented on #57
My friends and I both experience frequent drop-out of ring session recently. Restarting the entire homebridge fixed it. We're both NOT using 2FA login. Maybe it's the new 2FA architecture from Ring that puts additional timeout there?

[2019-07-12 12:00] jahnkenneth commented on #58
Got it working!
Now you just have to get live streaming to work ;-)

[2019-07-12 12:00] #58 closed

[2019-07-12 12:33] dgreif commented on #58
Awesome! Could you share what the problem was?

[2019-07-12 12:45] jahnkenneth commented on #58
The problem was the router... My ISP did something, and now it works. :-)

[2019-07-12 23:36] dgreif commented on #55
@itsgabraf is this still happening?

[2019-07-12 23:39] dgreif commented on #56
@malmentm give v`4.0.2` a try.  I added the same functionality that we use for `doorbot_v3`, which is to hand back a stale snapshot after a few seconds of trying to get a new one on this particular model.  Heads up, I renamed the npm package from `homebridge-ring-alarm` to `homebridge-ring` so you will need to uninstall the old one and install the new.  You config should update automatically on th

[2019-07-13 01:02] jianyu-li opened #62 "Ring alarm deprecated"
Now that this has been deprecated and moved into the Homebridge-Ring, do I need to install homebridge-ring and update my config file?

[2019-07-13 01:03] jianyu-li commented on #57
Just a small update, I had created a dedicated account for homebridge and I haven’t had any issues for 2 days

[2019-07-13 02:50] dgreif commented on #62
Good question. See https://github.com/dgreif/ring/wiki/Upgrading-from-v3-to-v4

[2019-07-13 03:45] nzbullet commented on #56
Hey @dgreif firstly nice work on this. Glad to see you're active in developing and supporting this, Thanks. Regarding the 10 min timeout and snapshots...whilst I understand that the image is stale when looking at the Home app, is it expected that the image would get a refresh when there is motion or a doorbell press? (this is on the doorbell_v3). I ask as the snapshot in the notifications is still

[2019-07-13 09:23] adavison007 commented on #39
@dgreif Any news on the CLI command for 2FA? Sorry to chase, keen to use, massive thanks in advance.

[2019-07-13 13:12] LeviJSmith commented on #57
Thx for the update.  I’ll give that a try.

[2019-07-13 14:57] johnsonjoshuaa commented on #59
This update worked for me. I was able to hide both the doorbell button and siren switch. I have 1 ring doorbell pro, and 2 ring flood cams. It works for all 3 devices in various configs with version 4.0.2 installed. My end config is to keep the doorbell button visible but to hide the siren switches on my flood cams.

[2019-07-13 15:29] metroidmen commented on #59
I can confirm the update fixed this issue! Thanks!!

[2019-07-13 15:29] #59 closed

[2019-07-13 18:10] #62 closed

[2019-07-13 18:47] d0n4v4nb3ck3r opened #63 "Snapshot as Live View so Camera doesn’t say Not Responding"
Have you thought about this any further? Anyway you could implement this? Until live view is figured out, unless you are close to getting live view to work?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-13 19:19] dgreif commented on #63
@d0n4v4nb3ck3r I think this is a good idea, but I have not put any time toward it yet.  I've been focused on 2fa and getting my Ring debug environment set up a little better.  I'm getting close to done with both of those and then I can do a little investigation toward snapshots for live view.

Real live view is completely possible, but requires a ton of work unless someone can recommend a good lib

[2019-07-14 00:57] jamesg311 opened #64 "Detected motion does not include snapshot"
Hi there, I've been trying all kinds of troubleshooting including removing/re-installing all of Homebridge and associated plugins, and even nuking NPM on my macOS install but still cannot get motion detection notifications to include snapshot. I recently had it work 1 time for the first time since the day the feature was released on the old homebridge-ring-alarm version of the plugin but can't fig

[2019-07-14 01:29] dgreif commented on #64
@jamesg311 you shouldn’t need to try all of that again. My snapshots have been a little sporadic but work 90% of the time. There is definitely some work to be done on the code that garbs the snapshot and how long it tries for. What camera model do you have?

[2019-07-14 02:12] jamesg311 commented on #64
I have Spotlight cams. They show up as "Spotlight Cam (stickup_cam_v4)". I have two and they both behave the same way.

[2019-07-14 02:42] dgreif commented on #64
Ahh, I’ve been wondering if this would come up soon. Several users had issues with time stamps on doorbot_v3 and the new door cam view. The thing these have in common is they are both battery powered. I was surprised that no one had complained about snapshots on other battery cameras like the stickup cam, so I wasn’t sure if they had slow snapshots as well. To confirm the behavior, could you open

[2019-07-14 02:51] jamesg311 commented on #64
Ah yes, I have a Doorbell_V4 (Ring Video Doorbell 2) as well. It's battery powered too. And yes, the snapshots appear to be every 10 minutes.

[2019-07-14 03:12] dgreif commented on #64
Thanks for testing the timing for me.  I've added a list of known camera models that use batteries, and will assume that each of them has slow (10 minute) snapshots.  If you upgrade to v`4.0.3` you should start seeing snapshots.  They will most likely be stale, but better than nothing 😄.  This 10 minute limitation is imposed by Ring, so unfortunately there isn't going to be a way around it.

[2019-07-14 03:46] d0n4v4nb3ck3r commented on #63
@dgreif I totally understand, wish I knew how to code so that I could help you! Thanks for everything you have done!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-14 03:51] jamesg311 commented on #64
Got it. updated to 4.0.3 and when motion is detected I'll report back. If there isn't a recent snapshot, will the rich notification pull a new one? or will it always pull a cached one?

[2019-07-14 04:07] dgreif commented on #64
It will try to pull a new one, but currently it. Will only wait 5 seconds for it before going with a stale one. This is something I can definitely improve and will try to address next week

[2019-07-14 06:11] Martin-Palringo commented on #35
Ideally we could have a low-FPS stream be generated by polling for snapshots...

[2019-07-14 06:13] ZoneMR commented on #35
Ideally we could have a low-FPS steam be generated by polling for snapshots...

[2019-07-14 12:27] rgerr commented on #38
To be clear, this ‘10 minute snapshot’ issue, is only on the first generation Ring doorbell? I currently have the first generation, but want to receive snapshots on my iPhone when the actual Ring button is pushed.

[2019-07-14 14:17] dgreif commented on #35
See #63 for discussion on snapshot stream

[2019-07-14 14:20] dgreif commented on #38
It’s an issue on all battery powered cameras (see #64 for more detail on that). I released an update last night that should cover all of them. It’s possible you are on one that wasn’t assuming slow snapshots for your model

[2019-07-14 15:25] Dillinja2 commented on #57
Also having consistent base station connection issues. It’s rare that it stays connected for more than a day. (It was working fine for months prior.) iOS 13b2 FWIW.

[2019-07-14 15:30] jianyu-li commented on #57
Try creating a separate ring account, share your system with that account in the ring app, and then using that new account as the login for your config file. That’s working for me so far

[2019-07-14 18:58] Dillinja2 commented on #57
Tried secondary account. Lost connection in less than an hour.

[2019-07-14 18:59] jianyu-li commented on #57
Ah man. It was worth a shot

[2019-07-14 19:52] ifeign commented on #63
@dgreif does something like jssip not offer the functionality you need?

[2019-07-15 01:08] EarthRise626 commented on #57
I have been struggling with similar issues the last week or so. I was on version 3 of the plugin prior to yesterday, so I don’t believe the upgrade to 4 is a potential cause.

I too created a separate Ring account for HomeBridge, and all is now working perfectly.

[2019-07-15 01:13] jamesg311 commented on #64
I'm seeing some motion notifications with images but not always. I've also noticed that my Ring Doorbell 2 (doorbell_v4) has a Status and Notifications setting on it's device settings page but the same isn't true of the Spotlight Cam. Do you know why that might be? Maybe that's part of the issue?

[2019-07-15 01:15] jamesg311 opened #65 "Alarm Base Station reporting battery at 0%"
My Ring Alarm has a Device called "Base station" and is reporting a 0% battery which continues to show up on the Home tab under status. This seems like a new condition. For model it just says "hub.redsky" and charging = yes. Assuming this is my Ring Alarm but could it also be the Ring Smart Lighting bridge device?

[2019-07-15 01:21] jamesg311 commented on #57
I was experiencing the same. Ring app was showing as Alarm Base Station and the Smart Lighting Bridge as not connected. Logged out, setup an alternate account to access my devices, then added that account in my Homebridge setup. However, that second account doesn’t have access to Ring Smart Lighting but I think that’s on Ring to fix since I don’t see a way to share those devices when setting up a

[2019-07-15 03:30] d0n4v4nb3ck3r opened #66 "Hidden Siren Switch not Working"
This is my config and it is not hidden in the Home App
`{
  “hideDoorbellSwitch” : true,
  “hideCameraMotionSensor” : false,
  “cameraDingsPollingSeconds” : 2,
  “refreshToken” : “***************”,
  “hideAlarmSirenSwitch” : true,
  “cameraStatusPollingSeconds” : 20,
  “beamDurationSeconds” : 60,
  “alarmOnEntryDelay” : false,
  “hideLightGroups” : true
}`

<sub>Sent with <a href="http://githawk.c

[2019-07-15 03:31] dgreif commented on #57
Thanks for all the input. I think this started happening when I introduced sessions which are needed for camera events to work properly. I’m guessing the issue is that I create a new session every time with tokens expire (about once an hour) and Ring must be dumping old sessions off the back, which happens to the session from the Ring app. I’ll get an update out this week with an attempted fix.

[2019-07-15 03:42] dgreif commented on #66
Weird, just had another report of this in #59. Are you on the latest version?

[2019-07-15 03:44] dgreif commented on #65
Yeah, I might just get rid of that since it doesn’t do anything in Home. In retrospect, I probably should have attached the siren to that device instead of the alarm.  Not sure why it shows 0% but I can confirm mine has the same thing. Will look into it when I get a chance

[2019-07-15 03:58] itsgabraf opened #67 "Power State"
I’ve noticed that the Camera has a Power setting in other home apps. It seems to always be toggled to off? I turn it on and I don’t see any differences. What is it?

![8D97F984-DB15-4F7B-91E9-4CFC038997FD](https://user-images.githubusercontent.com/36346259/61194990-a321f780-a708-11e9-83a9-ba68d8b57715.jpeg)

[2019-07-15 04:04] itsgabraf commented on #55
Nope. Not since V4

[2019-07-15 04:09] #55 closed

[2019-07-15 11:27] d0n4v4nb3ck3r commented on #66
V4.0.3

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-15 11:48] d0n4v4nb3ck3r commented on #66
Also the motion sensor on my ring pro isn’t going off with HomeKit but is with my floodlight

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-15 13:36] dgreif commented on #57
Everyone, give v`4.0.4` a try.  I am now creating a new session only when the previous session can no longer be found.  I'm also reusing the hardware_id between sessions, which is how Ring identifies which device is making the request so that it can hand out the correct "active dings".  I just updated mine and will monitor my Ring app over the next few days.

[2019-07-15 15:18] LeviJSmith commented on #57
I updated this morning.  Will let you know if I see any issues.

[2019-07-15 16:43] dgreif commented on #64
@jamesg311 give v`4.0.5` a try.  I changed the logic for snapshots so that it is smarter about when it should return a stale snapshot vs waiting for a new one.

As for the notification settings, it is a bit confusing how it works in Home.

* **Motion Sensors** have notification settings for all camera types.  If enabled, you will receive _motion_ notifications for the camera
* **Camera feeds** hav

[2019-07-15 17:27] dgreif commented on #65
@jamesg311 Give v`4.0.7` a try.  Should report 100% battery for the base station now (assuming it's fully charged), which will remove the low battery warning.

[2019-07-15 17:31] dgreif commented on #66
@d0n4v4nb3ck3r I just tried it out locally and it works exactly as intended.  Your config looks correct.  Try updating to the latest version of homebridge and see if that fixes it for you

[2019-07-15 17:39] dgreif commented on #38
@OABsoftware I rewrote the logic around snapshot timing and it should work much better for your situation now.  If the current snapshot is < 10 minutes old, it will be used immediately without waiting for a new one at all.  If the current snapshot is > 10 minutes old it will wait ~30 seconds for the snapshot to update, falling back to the stale snapshot after that.  Give it a try with v`4.0.7`

[2019-07-15 17:43] dgreif commented on #39
@adavison007 sorry for the lack of info.  I'm almost done with the CLI, just working on how exactly I want to deploy it for use.  I should have it released in the next couple days

[2019-07-15 17:55] dgreif commented on #67
@itsgabraf it looks like this is a power switch that Eve is adding for every camera.  I don't think there is anything I can do to get rid of this, but you can click on the `edit` link in the top right of the page in eve and then hide that specific attribute on the camera.  Doesn't hurt anything if you turn it on/off.

[2019-07-15 17:55] #67 closed

[2019-07-15 22:03] EarthRise626 commented on #57
I just updated to 4.0.7 - will report any issues. So far, everything is stable and responsive.

[2019-07-16 02:40] d0n4v4nb3ck3r commented on #66
@dgreif I am up to date on both. And still showing

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-16 02:50] dgreif commented on #66
Maybe I should have asked this up front. Are you trying to hide the alarm siren (called Ring Alarm Siren by default) or a camera siren? That setting only works for the alarm siren currently

[2019-07-16 03:45] d0n4v4nb3ck3r commented on #66
@dgreif funny thing is, I asked you for this as a feature when I asked if you would add other ring devices. Since it’s a switch, I want to disable it so I don’t accidentally hit it.

I am talking about the Ring Floodlight Cam, Siren. And not the Ring Alarm siren. I don’t have the Ring Alarm system.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-16 03:54] EarthRise626 commented on #57
Unfortunately, I just experienced the issue once more this evening when attempting to arm the alarm through HomeKit. This is using a dedicated Ring account for the plugin.

[2019-07-16 04:06] d0n4v4nb3ck3r opened #68 "iOS 13 Beta Issue Log"
Figured if anyone is having issues in iOS 13 beta we could log them all in the same issue till iOS 13 comes out.

[2019-07-16 04:15] d0n4v4nb3ck3r commented on #68
So as you can tell I have iOS 13 beta installed on my phone.
   The image that has the snapshot for the Entryway Front Door is my wife's phone (iOS 12)

![IMG_AB111F22F4F2-1](https://user-images.githubusercontent.com/9875439/61265172-d4281980-a754-11e9-9262-e407cc6d991f.JPG)

The image without the snapshot and just motion at front door ring app notification is my phone (iOS 13), the snapshot is wo

[2019-07-16 04:58] krazyflipj commented on #68
Motion notifications do not work on ring doorbell.

[2019-07-16 05:10] Dillinja2 commented on #57
Seems I’m in the same boat.

4.0.7, devices refusing to update status / respond after about 5 hours.

[2019-07-16 09:20] itsgabraf commented on #68
Happening for me too. Was working till I removed it (screwed up switching to V4) and added it back in.

[2019-07-16 09:38] rgerr commented on #38
Is this also the issue with newer Rings?

[2019-07-16 09:39] adavison007 commented on #39
@dgreif Many thanks, let me know and I'll test straight away.

[2019-07-16 11:53] d0n4v4nb3ck3r commented on #68
@itsgabraf @krazyflipj I thought I was having these issues too, but that’s all iOS 13 not this plugin. I changed those settings on my Mac, and it started working on my iPhone.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-16 12:00] itsgabraf commented on #68
What do you mean “changed those settings on my Mac”?

I tried the following:

Removed plugin. Reinstalled plugin. Added camera back to HomeKit (on iOS 13 device)

Removed plugin. Reinstalled plugin. Added camera back to HomeKit (on iOS 12 device)

Reformatted Raspberry Pi SD card into a brand new system. Started from scratch. Added plugin/homebridge etc. Added camera again.

Basically all gave me

[2019-07-16 12:26] d0n4v4nb3ck3r commented on #68
@itsgabraf it is iOS 13s fault. I changed the settings on the Home App on my Mac, to have snapshots and motion notifications and it is all working now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-16 12:27] d0n4v4nb3ck3r commented on #66
@dgreif is there anyway you can change the characteristic so it looks like a siren in HomeKit?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-16 13:12] dgreif commented on #38
@rgerr can you be more specific?  The new Ring Door View Cam is battery powered, so it has 10 minute snapshot refreshes.

[2019-07-16 13:14] rgerr commented on #38
I have the Ring doorbell, first Version (doorbell_v3) hardwired. So it is not on battery. How does the snapshot interval work in that case?

[2019-07-16 13:17] dgreif commented on #38
@rgerr that is a great question! All of my cameras as wired only so I haven't been able to test it out.  Could you try opening your Ring app periodically and seeing how frequently you can get snapshots from that camera?  Just open the app and look at the camera photo, without going into live view.  It will either be every 30 seconds that it refreshes or 10 minutes, so it should be pretty obvious.

[2019-07-16 13:19] rgerr commented on #38
I will try this out later today, thanks for the tip. Another question, will the experience be better with a Ring 2 doorbell? Faster snapshots e.g.?

[2019-07-16 13:32] dgreif commented on #38
The Ring Doorbell 2 has a battery as well, but can be hardwired.  I'm guessing it will function the same as the regular Doorbell.  I have a Doorbell Pro, which can only be hardwired, and it has 30 second snapshots. I am really interested to see what you find with the hardwired Doorbell, thanks for looking into it!

[2019-07-16 13:36] dgreif commented on #66
@d0n4v4nb3ck3r unfortunately HomeKit is pretty limiting in this regard.  I can make Light Bulbs and Switches, but if I make it a Speaker it won't show up in the Home app.  Speakers show up great in Eve, but for some reason Home just chooses to ignore them.  Thus..I ended up with a Switch for the siren 😞.  I guess the best option at this point is to add a `hideCameraSirenSwitch` option.  Is that wh

[2019-07-16 13:59] rgerr commented on #38
Definitly not a 30 sec interval on the original Ring with snapshots. Checked it for over 15 minutes and it updates only once, after the suspected 10 minutes, unfortunatly.

[2019-07-16 15:12] dgreif commented on #57
@EarthRise626 @Dillinja2 I think you guys are experiencing something different than the original issue.  What I was experiencing (and it sounds like @jianyu-li was also) was the actual Ring app would loose connection with the base station, but homebridge would continue to function normally.  Can you confirm that your _homebridge_ is what is now loosing connection to the alarm base station?  Is you

[2019-07-16 15:15] dgreif commented on #56
@nzbullet I made some updates to the logic for when to use stale vs fetch a new snapshot.  Give v`4.0.7` a try.  If there has been a snapshot in the last 10 minutes, then it will use the stale snapshot even if there is motion/ding.  If it has been more than 10 minutes since your last snapshot, motion/ding should pull a new snapshot.

[2019-07-16 16:20] Dillinja2 commented on #57
Ah, that is a different behavior.

My issue is, after a period of time, the entirety of the ring alarm devices (including the arming / disarming function) cease to update or allow interaction.

Rebooting / restarting homebridge remedies this for a time.

[2019-07-16 16:36] EarthRise626 commented on #57
Yes - I have had no issues with the Ring app timing out or refusing requests.

My issue is exactly as @Dillinja2 describes. The command to Arm will appear in the HomeBridge log but does not actually occur. A restart has fixed this for a time for me as well.

[2019-07-16 18:29] DerRemo opened #69 "Plugin not loading"
Hi, I get the following error wen starting home bridge:

/usr/local/lib/node_modules/homebridge/lib/server.js:166
      plugin.initializer(this._api);
             ^
   TypeError: plugin.initializer is not a function
    at Server.<anonymous> (/usr/local/lib/node_modules/homebridge/lib/server.js:166:14)
    at Array.forEach (<anonymous>)
    at Server._loadPlugins (/usr/local/lib/node_modules/home

[2019-07-16 19:01] dgreif commented on #69
@DerRemo I just tried with the following versions:

`homebridge`: `0.4.50`
`node`: `10.16.0`
`homebridge-ring`: `4.0.7`

Everything started up just fine, so there must be something else specific to your setup.  I don't know your background, but if you are able to debug this a little bit on your end you can add some `console.log()`s in https://github.com/nfarina/homebridge/blob/master/lib/plugin.js

[2019-07-16 19:07] dgreif commented on #56
@malmentm can you confirm that v`4.0.7` is working better with the Door View Cam?

[2019-07-16 19:25] malmentm commented on #56
@dgreif Yes, it seems much more resposive now! Thanks!

[2019-07-16 19:56] d0n4v4nb3ck3r commented on #66
@dgreif sure! Whenever you have time, no rush.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-16 19:59] #56 closed

[2019-07-16 20:00] dgreif commented on #65
@jamesg311 let me know when you get a chance to try out the latest version.  Just wanting to clean up this and #64 if they are both good

[2019-07-16 21:28] jamesg311 commented on #65
All good!

[2019-07-16 21:29] #65 closed

[2019-07-16 21:37] dgreif commented on #64
@jamesg311 this one good too?

[2019-07-16 23:01] #66 closed

[2019-07-16 23:03] dgreif commented on #66
@d0n4v4nb3ck3r `hideCameraSirenSwitch` released in v`4.1.0`

[2019-07-16 23:12] jamesg311 commented on #64
I upgraded to 4.0.7 yesterday. I got 4 notifications on the Spotlight Cam Battery today, none of them had a screenshot attached. I got 1 notification on my Ring Video Doorbell 4 which did have a screenshot, but motion detection reliability has been poor (Ring app itself captured motion but Homebridge did not).

[2019-07-16 23:43] itsgabraf commented on #68
Yea, mine just magically fixed itself this morning. Didn’t change a thing. Must have been on the Apple side. Still don’t have it appear under “sensors” though but I assume that because under “cameras” that it asks for snapshots, that they’ve just grouped the settings all under the camera.

[2019-07-16 23:55] dgreif commented on #39
@adavison007 sorry for the long wait, but the `ring-auth-cli` has landed in v`4.2.0`.  See https://github.com/dgreif/ring/wiki/Two-Factor-Auth for details on how to use it. Let me know how it works for you 😄

[2019-07-16 23:59] dgreif commented on #57
@EarthRise626 @Dillinja2 this might not work, but could you try using a `refreshToken` instead of `email`/`password`?  See https://github.com/dgreif/ring/wiki/Two-Factor-Auth for details on how to set it up.  This is how I am set up and it is working great.  Note, you need `homebridge-ring` v`4.2.0` installed globally if you use the first command.

[2019-07-17 00:02] EarthRise626 commented on #57
@dgreif sure! Will install the update this evening and setup the 2FA. I’ll report back!

[2019-07-17 00:08] dgreif commented on #57
Awesome!  You can actually follow all of those steps without turning on 2fa and it will work just fine.

[2019-07-17 00:40] BradMcGonigle commented on #39
@dgreif worked great for me.  Awesome work!

[2019-07-17 00:55] EarthRise626 commented on #57
I had been intending to get the 2FA turned on once supported by the plugin, so this was the perfect opportunity to do so.

I successfully updated and configured the refresh token. So far, so stable! I’ve successfully armed and disarmed the Alarm multiple times with no issues. Will report back on long-term stability.

Thank you for all of your work on this - it’s a huge help and is greatly apprecia

[2019-07-17 00:57] jianyu-li commented on #57
I was also having some issues arming/disarming so I updated the config file for 2FA as well. Thanks for responding so quickly to issues @dgreif !  Here are the errors I would get

`[7/15/2019, 5:51:35 AM] [Ring] Disarming Ring Alarm
(node:1581) PromiseRejectionHandledWarning: Promise rejection was handled asynchronously (rejection id: 414)
(node:1581) UnhandledPromiseRejectionWarning: Error: Reque

[2019-07-17 01:22] dgreif commented on #57
@jianyu-Lin thanks for the logs, that’s really helpful! Just curious, what version of node are you on?

[2019-07-17 01:25] jianyu-li commented on #57
@dgreif 6.10.1

[2019-07-17 01:41] jianyu-li commented on #57
@dgreif whoops I mean 12.5.0

[2019-07-17 01:47] dgreif commented on #57
Ahhh, that might be why. @EarthRise626 are you on node 12 as well?

[2019-07-17 01:51] EarthRise626 commented on #57
I am on version 10.15.2

[2019-07-17 04:48] krazyflipj commented on #68
Interesting mine still doesn’t work.

[2019-07-17 07:57] adavison007 commented on #39
@dgreif Awesome!  I will try tonight when home, thanks in advance.

[2019-07-17 11:05] d0n4v4nb3ck3r commented on #39
@dgreif works awesome!!

[2019-07-17 17:37] Dillinja2 commented on #57
I updated my Node version to 10.15.2 last night (I was on an older fork) and so far so good.

[2019-07-17 17:43] dgreif commented on #57
Based on the stack track that @jianyu-li posted, I took a look through the authentication code and was able to track down a potential cause for the issue.  @EarthRise626 @jianyu-li @Dillinja2 would any of you be willing to turn 2fa back off and use email/password auth (make sure you delete the `refreshToken` line from your config) for a few days and test out v`4.2.1`?  I'm glad it's working well w

[2019-07-17 17:43] dgreif commented on #69
@DerRemo any luck getting it to work?

[2019-07-17 18:59] DerRemo commented on #69
Not yet.

[2019-07-17 19:13] jianyu-li commented on #57
I’ll make the changes when I get home tonight and test. Do I need to update my node? I thought I was on the most current version but I’m still a bit new at this

[2019-07-17 19:44] dgreif commented on #57
@jianyu-li it would actually be best if you stay on the same version just to eliminate as many variables as possible.  12.5.0 is a very new version, so you are not behind at all.

[2019-07-17 20:14] adavison007 commented on #39
@dgreif BOOM! You the man, works a dream (used CLI in hoobs web UI)

[2019-07-17 20:15] dgreif commented on #39
Thanks @adavison007 and everyone else for your patience and testing on this!

[2019-07-17 20:15] #39 closed

[2019-07-17 23:11] adavison007 opened #70 "Moving from ring alarm plugin to ring"
I have ring-alarm-platform plugin installed with hoobs, that’s now depreciated, how do I migrate to the new hombride-ring plugin without all devices duplicating etc?

[2019-07-17 23:12] dgreif commented on #63
@ifeign just started digging into jssip and found this gem... https://github.com/versatica/JsSIP/issues/571.  Looks like that one is off the table. There are still a few others I can try

[2019-07-17 23:16] ifeign commented on #63
Haha wow, people got heated over that.

On Wed, Jul 17, 2019 at 4:12 PM Dusty Greif <notifications@github.com>
wrote:

[2019-07-17 23:41] dgreif commented on #70
See https://github.com/dgreif/ring/wiki/Upgrading-from-v3-to-v4#upgrading-homebridge

[2019-07-17 23:58] EarthRise626 commented on #57
@dgreif I will update to 4.2.1 and switch back to traditional authentication right now. Will report back!

[2019-07-18 06:55] adavison007 commented on #70
@dgreif thanks, ok, will work out how to stop homebridge in hoobs and give it a go.

[2019-07-19 04:51] jianyu-li commented on #57
Sorry I wasn’t able to test @dgreif , we’re getting to ready to head out of town. Sounds like @EarthRise626 is reporting good news. I’ll test some more when I get back in town!

[2019-07-19 04:57] Dillinja2 commented on #57
Meant to reply- I’ve been solid on the latest rev for 36hrs! Thanks again for the quick fix.

[2019-07-19 05:01] dgreif commented on #57
Awesome, thanks for testing @EarthRise626 and @Dillinja2!   Feel free to switch back to 2fa 🎉 🚀 🔒 . Thanks you all for reporting the issue as I was not seeing this one on my end.

[2019-07-19 05:01] #57 closed

[2019-07-19 05:34] dgreif opened #71 "Resize Snapshots"
We currently use the raw snapshot that we receive from Ring, without resizing it to match the request from HomeKit.  This means we are potentially uploading a larger image than we need to.  Need to find out what size the current snapshots are, and find a way to resize them accordingly.

[2019-07-19 05:35] omerdn1 commented on #63
@dgreif how about [sip.js](https://github.com/onsip/sip.js)?

[2019-07-19 05:52] dgreif commented on #63
@omerdn1 unfortunately that one uses websockets as the transport (instead of UDP), which does not work with the Ring SIP servers.  There are some threads/forks by people who have tried to add UDP but it all looks pretty stale.

I'm currently playing around with the [sip](https://github.com/kirm/sip.js) module and having some limited success 😶.  I actually got a successful connection between the Bl

[2019-07-19 05:52] #63 closed

[2019-07-19 06:13] omerdn1 commented on #35
@dgreif I'd like to join in on this endeavour. can you share your Ring app SSL interception set up?
a while back I tried to intercept the SSL traffic using Charles proxy with their SSL certificate but after a short while Ring seemed to have blocked any custom certificate, not letting me perform any request to the API.

anyways, getting into what has to be done - when I was investigating the possib

[2019-07-19 06:37] dgreif commented on #35
@omerdn1 for SSL MITM, I had to root an android device, install [XPOSED](https://repo.xposed.info/module/de.robv.android.xposed.installer) and install the `SSL Unpinning 2.0` module.  Then you can install the custom certs from a mitm proxy like charles and it will be accepted by the Ring app.  I had some really odd behavior between the unpinning module and the Ring app where the app knew something

[2019-07-19 11:08] itsgabraf commented on #68
Has anyone else’s “allow snapshots” disappeared from their Camera settings?

[2019-07-19 17:30] peterzanetti commented on #1
Just came here to request this, I love this plugin and this is the only "missing" feature I've noticed that I  need.

[2019-07-19 19:24] dgreif commented on #1
@peterzanetti how do you think we should handle it?  Obviously it should error, so that it doesn't look like the alarm got set when it doesn't.  But should we be able to override it if you try again?  There's not a good way to communicate the situation via HomeKit so i'm not sure what to do beyond erroring..

[2019-07-19 19:52] peterzanetti commented on #1
Personally I wouldn’t need override, I just need to know that it failed and why it failed (sensor requires bypass).

[2019-07-19 23:29] dgreif commented on #35
@omerdn1 I made some really good progress today!  I am successfully negotiating the SIP setup at this point (pro tip, Ring requires `User-Agent` be set to `Device` or `Blink 3.2.0 (Windows)`. Otherwise you get a `480 Temporarily Unavailable` response no matter what other config you have in your sip invite).

I've moved on to actually setting up the RTP stream between the Ring servers and homebridg

[2019-07-20 04:45] omerdn1 commented on #35
@dgreif that's awesome news! please push your code to a new branch so I can play with it as well.

[2019-07-20 05:22] dgreif commented on #35
@omerdn1 I pushed up my current work to the `live-stream` branch.  You can pull the branch, `npm i`, and then `npm run test-homebridge` to start up the plugin on your dev machine.  You need to have homebridge config set up in `~/.homebridge/config.json` with your `Ring` platform config in place.

As for the code, it is negotiating the sip connection just fine now, and I added srtp since it appears

[2019-07-20 14:25] metroidmen commented on #57
I didn’t know this issue was caused by this plugin! I wondered what on earth was happening! Yeah, this is still occurring for me. And I don’t even have 2FA on. It went away for a few days but popped back up this morning. :/

Its super frustrating because i wont get any notifications from my Ring app
or my Home and my Home automations with the cameras motion sensors stop functioning.

[2019-07-20 14:28] EarthRise626 commented on #57
@metroidmen which version of the plugin are you currently on?

[2019-07-20 14:35] metroidmen commented on #57
Newest version. Reinstalling seems to resolve the issue temporarily. I though it was gone until it came back this morning.

[2019-07-20 16:42] dgreif commented on #57
@metroidmen are you on `homebridge-ring` v`4.2.1` or `homebridge-ring-alarm` v`3.9.0`?  You must switch to `homebridge-ring` to get the fix for this issue.

@Dillinja2 @EarthRise626 has everything still been good since you updated?

[2019-07-20 16:51] metroidmen commented on #57
I’m on the 4.2.1 ring version.

And the issue already popped back up. It’s not allowing me to set my alarm with HomeKit either and it’s driving me bonkers as I can’t even use the ring app without logging out and back in

[2019-07-20 16:54] dgreif commented on #57
@metroidmen follow the instructions in https://github.com/dgreif/ring/wiki/Two-Factor-Auth to get a `refreshToken` (you don't need 2fa enabled for it to work).  It seems like using a refresh token instead of email/password tends to avoid this issue.  Let me know if that fixes it for you

[2019-07-20 16:56] metroidmen commented on #57
I tried. I can’t figure out how to get it to work. I login to my terminal on my raspberry pi to do it and run the commands and it doesn’t work. It’s the only reason I don’t have 2FA enabled.

[2019-07-20 16:59] metroidmen commented on #57
Just says “command not found” when I run either of those commands

[2019-07-20 17:29] EarthRise626 commented on #57
@dgreif Everything has been working great. No issues whatsoever.

[2019-07-20 17:31] dgreif commented on #57
@EarthRise626 thanks for the info.  @metroidmen I am not convinced you have `4.2.1` installed properly.  If you did, the `ring-auth-cli` command should be accessible.  Try running `npm i -g homebridge-ring` and then run `ring-auth-cli` again...

[2019-07-20 18:06] metroidmen commented on #57
http://tinypic.com/view.php?pic=2prvb69&s=9

I don’t know what to say. Because I’ve made sure to update to every single version you release. Ive tried reinstalling it again and the same exact message every time.

[2019-07-20 18:10] dgreif commented on #57
If you run the `npx` version of it, what output do you get?  Is `npx` found?

[2019-07-20 18:18] metroidmen commented on #57
Gives me the same exact error.

[2019-07-20 18:19] dgreif commented on #57
Screenshot?

[2019-07-20 18:27] metroidmen commented on #57
http://tinypic.com/view.php?pic=1z4wruw&s=9#.XTNdChYpAlQ

[2019-07-20 18:33] dgreif commented on #57
Your `npm` install appears to be messed up, preventing globally installed bin files from being run.  Running `npm bin -g` will tell you where your global npm bin directory is (something like `/usr/local/bin`).  That directory needs to be on your `PATH`.  If you don't know how to do that, the easiest thing is probably reinstalling node/npm.

[2019-07-20 18:46] metroidmen commented on #57
Tried looking it up and changing the path, still not working. Same errors.

How do I reinstall node/npm? I’m generally a noob with homebridge.

[2019-07-20 19:28] metroidmen commented on #57
Okay, I’m really suspecting something weird is going on. I even just tried uninstalling and reinstalling the plugin and had no luck.

But I’m getting an alert my base station battery is low, which I understand is a bug you’ve allegedly fixed.

So something is happening where this app is just not updating.

[2019-07-20 21:33] EarthRise626 opened #72 "Floodlight Cam Snapshots Not Loading"
The plugin has been working great for me until today. For whatever reason, my doorbell cams are loading snapshots into HomeKit, but the floodlight cam is not. I am also unable to get a response from the floodlight “light” in HK as well as the associated motion detector. I obtained a new refresh token to attempt to troubleshoot, but that resulted in no improvement.

[2019-07-21 04:30] #71 closed

[2019-07-21 04:33] dgreif commented on #71
Decided to take a break from live stream and knock this one out.  Snapshots from ring were 1920x1080.  HomeKit requests 480x270.  By resizing the images, we reduce the size by 95% (yeah, seriously), which means HomeKit will be able to upload and distribute the snapshots to devices _way_ faster.  🚀 🐎 🔥

[2019-07-21 13:47] d0n4v4nb3ck3r commented on #71
@dgreif that is awesome!! Thanks!

[2019-07-21 14:19] ifeign commented on #71
I can't update. It throws an error which causes the plugin to uninstall itself, I have to manually reinstall 4.2.1. Will get a log for you later.. I'm not at home right now

[2019-07-21 15:02] #72 closed

[2019-07-21 15:03] EarthRise626 commented on #72
Floodlight needed power cycled.

[2019-07-21 15:12] dgreif commented on #72
Awesome, glad you got it figured out!

[2019-07-21 15:35] dgreif commented on #71
@ifeign I was afraid that might happen to some users. The library I pulled in for resizing needs node-gyp. It’s a pain, but this particular library was way faster at resizing than others that I tried. Do a good search for setting up node-gyp. What platform are you running homebridge on (windows, Linux, mac)?

[2019-07-21 15:55] ifeign commented on #71
I run it on a raspberry pi through docker

On Sun, Jul 21, 2019 at 8:35 AM Dusty Greif <notifications@github.com>
wrote:

[2019-07-21 17:21] ifeign commented on #71
Here's the error btw
`USER: root
DIR: /usr/local/lib
CMD: npm --no-update-notifier install --unsafe-perm homebridge-ring@latest

/usr/local/bin/ring-auth-cli -> /usr/local/lib/node_modules/homebridge-ring/ring-auth-cli.js

info sharp Downloading https://github.com/lovell/sharp-libvips/releases/download/v8.7.4/libvips-8.7.4-linuxmusl-armv6.tar.gz
/usr/local/lib/node_modules/homebridge-ring/node_mod

[2019-07-21 18:06] SafariKC opened #73 "Sharp wont install on rasp pi?"
ERR! sharp EACCES: permission denied, mkdir '/root/.npm'
info sharp Attempting to build from source via node-gyp but this may fail due to the above error
info sharp Please see https://sharp.pixelplumbing.com/page/install for required dependencies
gyp ERR! configure error
gyp ERR! stack Error: EACCES: permission denied, mkdir '/usr/local/lib/node_modules/homebridge-ring/node_modules/sharp/build'
gy

[2019-07-21 18:06] SafariKC commented on #73
Looks like sharp was added in 4.2.2 and is having trouble on the pi.  I troubleshot for a while and got nowhere wondering if I’m alone or not.   Fell back to 4.2.1

[2019-07-21 18:11] waltersobchak40 commented on #73
Same error on macOS. I reverted back to 4.2.1 as well.

[2019-07-21 19:25] metroidmen commented on #73
Oh wow. I thought I messed up something and ended up reformatted my entire homebridge.

But eventually 4.2.2 did install.

[2019-07-21 19:25] cargueta001 commented on #73
I too am going through the same thing and tried reinstalling from scratch to no luck.

@waltersobchak40 @SafariKC What steps did you take to revert back to version 4.2.1? At this point, I have no build installed.

[2019-07-21 19:27] waltersobchak40 commented on #73
@cargueta001 I installed a specific version of 4.2.1 on macOS:

`sudo npm install -g homebridge-ring@4.2.1`

[2019-07-21 19:37] cargueta001 commented on #73
@waltersobchak40 I tried that command line via Terminal for my RPI but when I rebooted Homebridge, the plugin won't appear 🤷🏻‍♂️

[2019-07-21 20:26] dgreif commented on #73
Hey sorry for the headache everyone. I’ll take a look at some alternative libraries so we can drop the node gyp requirement. I’ll try to get an update out this afternoon or tomorrow morning at the latest. Anyone having issues installing should just hold off until then.

[2019-07-21 20:28] dgreif commented on #71
See #73. Sorry for the trouble

[2019-07-22 14:44] #73 closed

[2019-07-22 14:52] dgreif commented on #71
I tried several other packages (`jimp`, `imagejs`, `image-js`) and they were all poor compared to `sharp`.  For comparison, `sharp` took ~37ms and reduced the image size by 95%.  `image-js` took ~363ms and only reduced the image size by 65%.  The other libraries performed even worse.  I really really don't want to have node-gyp install issues because it will be a never ending stream of Github issu

[2019-07-22 14:52] dgreif commented on #73
I tried several other packages (`jimp`, `imagejs`, `image-js`) and they were all poor compared to `sharp`.  For comparison, `sharp` took ~37ms and reduced the image size by 95%.  `image-js` took ~363ms and only reduced the image size by 65%.  The other libraries performed even worse.  I really really don't want to have node-gyp install issues because it will be a never ending stream of Github issu

[2019-07-22 14:53] dgreif commented on #70
@adavison007 I'm going to close this as there isn't really anything to do on my end.  Let me know if you have any questions for me

[2019-07-22 14:53] #70 closed

[2019-07-22 14:54] dgreif commented on #69
@DerRemo I'm going to close this as it appears to be specific to your setup.  Let me know if you have any questions that I can answer

[2019-07-22 14:54] #69 closed

[2019-07-22 14:55] dgreif commented on #64
@jamesg311 are snapshots working any better for you lately?  I'd like to get this closed out, but want to make sure that battery cameras are performing adequately for snapshots

[2019-07-22 14:56] dgreif commented on #38
@OABsoftware @rgerr how have snapshots been on your battery cameras?  If everything seems good we can get this issue closed

[2019-07-22 15:09] jamesg311 commented on #64
They’ve been working better, yes, but noticeably more so with the image compression which I saw from another issue you may be rolling back. I’ll close and reopen if it regresses to zero snapshots.

[2019-07-22 15:09] #64 closed

[2019-07-22 15:19] dgreif commented on #64
@jamesg311 that's really interesting that it's been working better with the snapshot resizing.  Do you have pretty slow internet/wifi?

[2019-07-22 15:20] jamesg311 commented on #64
It is interesting (and somewhat strange) as I have a 1GB fiber internet connection powered by 3 eero Pro mesh wifi routers. My bandwidth is crazy good and I have everything running off an iMac 27" 2016.

[2019-07-22 15:27] dgreif commented on #64
That sounds like a completely sufficient setup 😂.  Image resizing shouldn't have made that much of a difference if you have great bandwidth.  Try the reverted version and see if it still works alright.

[2019-07-22 17:01] dgreif commented on #38
@rgerr unfortunately I can't make them refresh more frequently.  My main question is whether or not the are showing up _reliably_ (even if they are stale by a few minutes)

[2019-07-22 17:07] dgreif commented on #57
@metroidmen yeah it definitely sounds like you are on an older version.  Unfortunately reinstalling node/npm is outside the scope of a GitHub issue on this repo.  There should be plenty of info if you try googling it, or others are welcome to jump in and help out here.

[2019-07-22 18:05] metroidmen commented on #57
I ended up nuking my entire homebridge and raspberry pi. I’m such a noob I just started from scratch.

[2019-07-23 05:59] bugs181 commented on #35
@dgreif excellent work! Anxiously following along on the progress.

Correct me if I'm wrong, it sounds like you're using Homebridge to set up a SIP server and then proxying that to Ring's servers. Because I have such a low bandwidth internet connection, I'm hoping this will be the solution to avoid using Ring's servers et all. The recordings are often out of sync, very choppy and generally unintel

[2019-07-23 06:58] rgerr commented on #38
No, not so much. Probaly 50% of the time I get a snapshot, and half of the time it is a old snapshot. The connection should not be a problem, i have 100/100 down/up and the Ring doorbell is 2m from the nearest access point. Also, I completely turned of the motion detection so that Ring will not update the snapshot when motion is detected. Therefor it should only update when the doorbell is pressed

[2019-07-23 13:48] krazyflipj commented on #68
Yeah mine disappeared as well.

[2019-07-24 11:53] EarthRise626 commented on #68
I am on iOS 13 and experiencing this issue as well. Motion alerts work perfectly for my Floodlight Cam but not the doorbells.

[2019-07-24 15:37] d0n4v4nb3ck3r commented on #68
Have you guys tried turning notifications off and then back on for each camera?

My Ring Pro and Floodlight both work awesome!!

[2019-07-24 19:42] jahnkenneth commented on #68
Not working for me.
«Allow snapshots» is not showing...

[2019-07-24 21:09] dgreif commented on #68
https://homekitnews.com/2019/07/03/changes-and-additions-to-the-home-app-in-ios13-beta-1/

Looks like they are moving to live stream _instead_ of snapshots 😮.  Still working on live streaming but getting _close_.  I just updated to iOS 13 beta so I will check it out too.

[2019-07-24 21:13] dgreif commented on #68
Just tried motion and ding on my Ring Pro, and motion on my Floodlight cam (same setup as @d0n4v4nb3ck3r).  Everything worked perfectly, including the snapshots in the notifications.  I'd suggest trying his approach of turning notifications off and back on for each camera..

[2019-07-24 21:39] krazyflipj commented on #68
Sometimes I get motion notifications and sometimes I don’t. As mentioned snapshots aren’t showing and the option is missing. I have a Ring 2

[2019-07-24 23:01] EarthRise626 commented on #68
Odd! I’ve captured my current settings here:

https://imgur.com/a/wD0Gkhg

I turned the notifications off and back on again in both areas of the Home app.

One thing of note is that these are both battery powered Doorbells, but I wouldn’t think that would be of consequence for the motion alerts!

Interesting to see the change from snapshots to streams. You deserve much praise if your are able to p

[2019-07-24 23:08] dgreif commented on #68
@EarthRise626 @krazyflipj it's interesting that you both are having issues with battery cameras.  I think I broke the timing for slow snapshots when i messed with it last week.  If it has been longer than 10 minutes since the last snapshot, it will now wait 30 seconds for a new one to come in.  I made the assumption that the new one would come in just as fast as wired cameras, but that could be en

[2019-07-25 00:22] EarthRise626 commented on #68
Your description of the issue makes a lot of sense. I’m guessing with the improvements to camera feeds they have implemented in iOS 13, they may have changed a lot under the hood to prefer constant, live feeds rather than snapshots.

I’m still very much an amateur when it comes to scripting, but do work with API’s enough to ride along!

[2019-07-25 00:24] jahnkenneth commented on #68
Mine is a Ring Pro, not battery powered...

[2019-07-25 16:52] dgreif commented on #35
![image](https://user-images.githubusercontent.com/3026298/61892015-c34b7680-aebf-11e9-9f73-1e2504e632b1.png)

It's happening!! I successfully got a live stream all the way into the Home app 🎉 🚀 ✨.  I have a lot of clean up and testing to do before it's released, but the big thing is that I have all the base functionality working.  Thank you all for you patience and support while I took a deep div

[2019-07-25 16:57] BradMcGonigle commented on #35
Wow.  This is HUGE news and will be a real game changer for HomeKit Ring users.  I've love to help test it out if you need any help.  I currently only have a Doorbell Pro but have debated buying some stick-up cams (but was waiting for HomeKit support).

[2019-07-25 16:58] ifeign commented on #35
You are a gentleman and a scholar.

On Thu, Jul 25, 2019 at 9:52 AM Dusty Greif <notifications@github.com>
wrote:

[2019-07-25 18:20] malmentm commented on #35
Just Amazing!

[2019-07-25 18:27] jfbeaumont commented on #35
Congratulations on your progress @dgreif, I own a lpd_v2 and 2 hp_cam_v1. I'm also willing to help out with testing.

[2019-07-26 02:13] mrose17 commented on #35
Wonderful!!!

[2019-07-26 07:57] dgreif commented on #35
The long wait is over...v`4.3.0` has the first working version of live streams 📹.   I put a ton of work into this over the last week and what I have is functional, but still needs some refinement.  I have tested it with Doorbell Pro and Floodlight Cam, but would love feedback on how it is working with other cameras (particularly cameras with batteries).  As for bugs, I'll start a list 😄

- [ ] No

[2019-07-26 07:58] ifeign commented on #35
Omg I'm updating right now!

On Fri, Jul 26, 2019 at 12:57 AM Dusty Greif <notifications@github.com>
wrote:

[2019-07-26 08:07] ifeign commented on #35
It doesn't seem to work, but I have a Doorbell 2 on battery which is unreliable even with the Ring app, though it has perfect wifi... so it might not be this plugin.

[2019-07-26 08:16] malmentm commented on #35
Seems to work with my Doorview Camera which is battery powered. Image quality is great.

[2019-07-26 08:18] benfysh commented on #35
Hi, firstly thanks for the plugin and even snapshots was way more than I ever thought we would get in HomeKit!

I am getting the `EADDRINUSE` issue mentioned above (snippet from the logs below) however that only seems to be happening every time with my floodlight cameras (all 3) and for my Doorbell Pro I just get "Camera not responding" after 30 seconds.

 `[2019-7-26 09:09:29] [Ring] Snapshot Req

[2019-07-26 08:36] schmupu commented on #35
How I get the Livestream and in which format? Do I need the ring cloud for this feature?

[2019-07-26 11:45] adavison007 opened #74 "Live Feeds - Well Done!"
@dgreif I have updated to this version, but I get no response on all cameras, but sounds like progress?

[2019-07-26 12:31] jahnkenneth commented on #74
Same here :-( Ring pro doorbell

[2019-07-26 12:53] EarthRise626 commented on #35
I am on iOS 13 on both my iPad and iPhone. The streaming works perfectly in the Home app on my iPad, but times out to “Camera Not Responding” every time I request the live feed on my iPhone. Strange!

[2019-07-26 12:54] EarthRise626 commented on #74
What version of iOS are you both on? Also, are you using an iPhone or an iPad to attempt to view the live stream?

[2019-07-26 12:59] adavison007 commented on #74
Using latest version  of iOS and also macOS, neither work, snaps shots do, just not live stream

[2019-07-26 13:00] jahnkenneth commented on #74
My iPhone is on iOS 13, and my iPad is on 12.
Not working on any if them. :-(

[2019-07-26 13:04] jahnkenneth commented on #74
Got it working now on my iPad. Took 26 seconds... But only got it working this one time...
On my iPhone (iOS 13) it goes directly to «not responding»...

[2019-07-26 13:11] BradMcGonigle commented on #35
I had to remove the camera from HomeKit and re-add it before it could get the live feed working.

Once I did that, it’s working great for me running homebridge in my raspberry pi 3b+.

Amazing work as always.  I’d love to donate something for you work on this if you are accepting anything.

[2019-07-26 14:05] ifeign commented on #74
I had to restart my phone before it started working.

[2019-07-26 14:06] EarthRise626 commented on #35
Working perfectly for me now on all devices once I removed the cameras and reconfigured them in HomeKit.

[2019-07-26 14:15] BradMcGonigle commented on #35
If anyone has a wired and/or battery stickup cam, I'd love to know if they are working as well as the Doorbell cams are working now.

I'll probably wait for Amazon to put them on sale again but I'd like to start swapping out some of my Wyzecams.

[2019-07-26 14:19] adavison007 commented on #74
@ifeign no joy doing that on mac or iPhone

[2019-07-26 14:26] BradMcGonigle commented on #74
I had to remove the camera from HomeKit and then re-add it and it started working.

- iOS 13 beta 4
- Doorbell Pro (lpd_v2)

[2019-07-26 14:43] adavison007 commented on #74
@BradMcGonigle  So I just remove the camera, but can add it again? do i need to flush the accessory cache first?

[2019-07-26 14:44] BradMcGonigle commented on #74
I just removed it in the Home app and added it again.  That worked for me.  Hopefully it works for you too.

[2019-07-26 15:05] adavison007 commented on #74
@dgreif so i removed a camera to then try and re add it to get live stream working... when adding an accessory the camera does not reappear? any ideas? I also deleted Accesorries file and that did not work either?

[2019-07-26 15:06] ifeign commented on #74
Not sure why people keep removing their cameras. All I had to do was
restart my phone.

On Fri, Jul 26, 2019 at 8:05 AM adavison007 <notifications@github.com>
wrote:

[2019-07-26 15:19] mikesalz commented on #74
Mine also did not work at first, but after a phone restart it is working perfectly!  Thank you for the amazing work, and for doing what Ring couldn't do on their own in the 3 years since they announced HomeKit compatibility!

[2019-07-26 16:16] dgreif commented on #74
Glad to hear live streams are working for some of you.  I also had issues at first, but restarting my phone and homebridge seemed to fix the issue.  I have noticed that the _first_ live stream can take a while to start. It almost seems like HomeKit needs to set up the stuff on their end to receive the stream and it takes a long time to do it.

One important factor on performance will be your netwo

[2019-07-26 16:17] adavison007 commented on #74
Is anyone using the 2FA refresh token? I am and i'm not getting live feeds... I'm wondering if that is the cause?

[2019-07-26 16:18] dgreif commented on #74
@adavison007 I am using the refresh token and it works just fine

[2019-07-26 16:33] dgreif commented on #35
@benfysh I'll try to get a fix out for the `EADDRINUSE` error in the next few days.  I know what the problem is but it was happening rarely for me so I didn't tackle it yet.

@schmupu live streams are mainly set up for use with the `homebridge-ring` plugin, but they can theoretically be used with any RTP client.  You can use `camera.createSipSession()` and pass it details on where the the RTP data

[2019-07-26 16:42] Sunoo commented on #74
I have the iOS 13 beta, and I have the plugin using the refresh token. It doesn't work for me, but what happens is it clocks for a while, then I get like one frame from the camera, and it is immediately greyed out saying camera not responding. I've tried readding the camera and rebooting all devices, no change.

[2019-07-26 17:09] benfysh commented on #35
Excellent thanks. I’ll keep an eye out for it let me know if need any help testing seems to happen pretty consistently for me. I assume it’s because I have a few devices.

[2019-07-26 17:21] adavison007 commented on #74
@dgreif so I desalted all cameras, then deleted the plugin, then cleared the accessory cache and restarted home bridge. I then reinstalled your plugin and re did the JSON file, and now i can't add any cameras, ideas?

[2019-07-26 17:22] jahnkenneth commented on #35
After a restart of all my devices (Iphones, iPads, HomePods snd ATV, it works! 😀
A donation is coming your way! Great work!

[2019-07-26 17:22] ifeign commented on #74
Did you remember to manually add back the cameras by searching for nearby
accessories?

On Fri, Jul 26, 2019 at 10:21 AM adavison007 <notifications@github.com>
wrote:

[2019-07-26 17:26] adavison007 commented on #74
yep, add accessory, no code and nothing...

[2019-07-26 17:28] dgreif commented on #74
@adavison007 the cameras are cached in `~/.homebridge/persist` instead `~/.homebridge/accessories`.  See https://github.com/dgreif/ring/issues/41#issuecomment-505609919 for details on how to clean it up.

[2019-07-26 17:30] EarthRise626 commented on #74
@dgreif I am on iOS 13 on my phone as well. The camera snapshots within the Home app are working great and updating frequently enough. I haven’t received any motion notifications yet so can’t speak as to whether or not a snapshot will appear in the notification.

@adavison007 I am using the refresh token with no issues as well.

[2019-07-26 17:38] adavison007 commented on #74
BOOM! You're a star

[2019-07-26 18:35] Klathmon commented on #35
@dgreif I'm coming from the python-ring-doorbell library you pinged, but a few things I learned while looking into this a while back:

* ring has previously banned my client from connecting to the SIP streams while I was mucking with it. They seemed to be doing some kind of useragent ban or something else because the app and other "offical" stuff still worked fine, just any unofficial stuff would

[2019-07-26 23:40] dgreif commented on #35
@benfysh v`4.3.1` has a lot better logic for choosing ports.  Shouldn't have any further issues with `EADDRINUSE`.  Let me know how it works for you!

@Klathmon I really appreciate all the info!  The main use case that we are all using it for is live video in HomeKit.  These are typically short-lived sessions where the user is either following up on a motion/ding notification, or just checking in

[2019-07-27 00:14] EarthRise626 commented on #35
@dgreif Installed 4.3.1. I am now receiving the following when trying to start a live stream:

[7/26/2019, 8:09:26 PM] [Ring] Failed to prepare stream for Backyard Floodlight
[7/26/2019, 8:09:26 PM] [Ring] Error: Couldn't find your IP
    at socketQuery.then (/usr/local/lib/node_modules/homebridge-ring/node_modules/public-ip/index.js:50:10)

[2019-07-27 00:31] jamesg311 commented on #35
This is working great for me except for when not on my local network. I lose connection to all accessories tied to my Ring Homebridge instance when not on my local network.

[2019-07-27 03:23] Jborn4christ commented on #35
Incredible work!! Working for my floodlight wired ring and my ring doorbell cam. Had to remove accessories a couple times and re-add but all si working. Sent you a few bucks. Really appreciate the work!

[2019-07-27 03:31] jamesg311 commented on #35
Deleted my previous comments—a reboot of my iMac and everything works great. Local and remote.

Ring Doorbell 2 and Spotlight Cams work great!!!

[2019-07-27 07:11] divemasterjm commented on #74
Just reboot iPhone and works!!! Thanks dgreif!!!!

[2019-07-27 09:53] onefish2 commented on #74
I am not getting the live feed. I have a Video Doorbell 2 and Floodlight Cam. This is what I see in the logs:

[7/27/2019, 5:49:40 AM] [Ring] Snapshot Requested for Driveway
[7/27/2019, 5:49:40 AM] [Ring] Snapshot Requested for Front Door
[7/27/2019, 5:49:43 AM] [Ring] Preparing Live Stream for Driveway
[7/27/2019, 5:49:45 AM] [Ring] Waiting for stream data from Driveway
[7/27/2019, 5:49:54 AM] [R

[2019-07-27 11:13] adavison007 commented on #74
@dgreif OK, so I deleted a camera yesterday, I followed your instructions and removed them from Persist... I then re added them all, they all added and worked apart from a Flood Light Cam (only one I have)..... so I took the opportunity to WIPE MY HOMEBRIDGE and start again whilst moving from the old RPI3 to RPI4... so complete new install..... all fresh... can add everything again, but that Flood

[2019-07-27 11:28] benfysh commented on #35
@dgreif I installed 4.3.1 and it seems to have resolved the `EADDRINUSE` Issue. However, I am getting the same error as @EarthRise626 every time I request a live view now.

`Jul 27 12:24:46 raspberrypi homebridge[21997]: [2019-7-27 12:24:46] [Ring] Preparing Live Stream for Front Door
Jul 27 12:24:46 raspberrypi homebridge[21997]: [2019-7-27 12:24:46] [Ring] Failed to prepare stream for Front

[2019-07-27 12:10] adavison007 commented on #74
HERE IS THE LOG, GARDEN IS THE FLOOD LIGHT CAM NOT WORKING>>> (I XXXX the code)

[7/27/2019, 1:05:15 PM] [Ring] Configuring 11 cameras and 0 devices for locationId gcpkpc-gdlu-0
[7/27/2019, 1:05:15 PM] [Ring] Adding new accessory lpd_v2 Gate
[7/27/2019, 1:05:15 PM] [Ring] Adding new accessory doorbell_v3 Side Gate
[7/27/2019, 1:05:15 PM] [Ring] Adding new accessory doorbell_v4 Front Door
[7/27/201

[2019-07-27 14:07] AdamMHardy opened #75 "Unable to see light switches"
I’ve got all cameras and ring alarm connected but I’m unable to see my paired Leviton z-wave switches within the home app. Are these devices supported?

[2019-07-27 14:36] black01gt opened #76 "Unable to add door bell"
I have installed and Homebridge logs show my door bell but in HomeKit it doesn't show up when I try to add it.

7/27/2019, 9:20:50 AM] [Ring] Adding new accessory lpd_v2 Front Door
[7/27/2019, 9:20:50 AM] Front Door is running on port 64231.
[7/27/2019, 9:20:50 AM] Please add [Front Door] manually in Home app. Setup Code:

[2019-07-27 16:32] dgreif commented on #75
I have a GE z-wave switch connected to my Ring alarm and it works great via the `homebridge-ring` plugin.  The Leviton ones should work just as well.  First, pair the z-wave switch with the Ring app and verify that you can see/control it there.  Then restart your homebridge server so that `homebridge-ring` picks up the new device.  Let me know if you have done that and are still having issues.

[2019-07-27 16:35] dgreif commented on #76
Make sure your phone and homebridge server are on the same network.  If they are and you still can't find the camera with HomeKit, then you may have to change some settings on your router to allow the devices to see each other.  Every network is different so I won't be able to give you exact guidance.  See #58 for another user who got this fixed by reaching out to his ISP (assuming you have a rout

[2019-07-27 16:39] dgreif commented on #38
@rgerr give snapshots a try in v`4.3.2`.  They now return immediately for battery cameras so they will most likely always be stale, but they should show up 100% of the time.  Let me know how it works for you.

[2019-07-27 16:42] dgreif commented on #35
@EarthRise626 @benfysh try v`4.3.2`.  In 4.3.1 I changed the way I was retrieving your public ip address to a much faster approach ([public-ip package](https://github.com/sindresorhus/public-ip)), but apparently it does not work for everyone.  In 4.3.2 I added my original approach as a fallback if public-ip fails.

[2019-07-27 16:50] AdamMHardy commented on #75
I have paired 3 switches with the Ring Alarm hub and am able to control them via the Ring app and using my Alexa devices.  I tried rebooting the server and also removed the and readded the bridge to Homekit (after deleting the persist folder within the Hombridge directory).  The camera works great on the new version by the way! But I'm still unable to see these switches for some reason

[2019-07-27 16:52] dgreif commented on #74
@onefish2 it looks like the stream data from Ring is unable to reach your homebridge server.  This can happen if your network is fairly complex, particularly with complex NAT structures.  As my current approach seems to be working for most users, I would say it is probably specific to your network 😞.  You can try some basic steps like rebooting your router/homebridge server/HomeKit hub/phone, but

[2019-07-27 17:11] dgreif commented on #75
I only had multi-level switches implemented.  I'm guessing your switches are simple on/off (non dimmer) switches which is why they aren't showing up.  Just added the logic to handle this type of switch in v`4.4.0`.  Give it a try and let me know if that fixes it for you.

[2019-07-27 17:19] jcapayne opened #77 "error upgrading to 4.3.1 or 4.3.1"
Upgrading to 4.3.2 (from 4.3.0) gives:

`npm WARN engine rxjs@6.5.2: wanted: {"npm":">=2.0.0"} (current: {"node":"8.11.1","npm":"1.4.21"})
npm ERR! tar.unpack untar error /root/.npm/rxjs/6.5.2/package.tgz
npm ERR! tar.unpack untar error /root/.npm/sip/0.0.5/package.tgz
npm ERR! error rolling back Error: ENOTEMPTY: directory not empty, rmdir '/usr/local/lib/node_modules/homebridge-ring/node_modules

[2019-07-27 17:26] ifeign commented on #74
@dgreif I think it would be wise to include in the readme a message to restart iOS devices and home hubs if upgrading to a version with live streaming. Streaming was very unreliable for me until I restarted my Apple TV. That would probably reduce the amount of people reporting their connection issues

[2019-07-27 17:52] benfysh commented on #35
@dgreif on 4.4.0 I still seem to be having IP issues albeit different ones

`27 18:47:07 raspberrypi homebridge[1040]: [2019-7-27 18:47:07] [Ring] Preparing Live Stream for Rear
Jul 27 18:48:10 raspberrypi homebridge[1040]: [2019-7-27 18:48:10] [Ring] Failed to prepare stream for Rear
Jul 27 18:48:10 raspberrypi homebridge[1040]: [2019-7-27 18:48:10] [Ring] Error: Failed to retrieve public ip addr

[2019-07-27 18:00] black01gt commented on #76
Thanks. That worked.

[2019-07-27 18:03] AdamMHardy commented on #75
Thanks for the quick turnaround! I've upgraded the plugin and tried everything I can think of short of uninstalling and reinstalling Homebridge, but I'm still unable to see the switches.  I can try a complete wipe later, if needed, but is there something I should be adding to the config to get these to show? The only preference I've set to True is hiding the siren.

[2019-07-27 18:04] black01gt commented on #76
I spoke to soon. looks like the port changes every time Homebridge restarts?

[2019-07-27 18:10] onefish2 commented on #74
@dgreif Here is my setup. homebridge is running a Pi4 Buster with a static IP connected to an 8 port switch that connects to an Apple Airport Extreme. All software is up to date. Node.JS version is 10.16.0 The homebridge instance is newly installed. I have 3 Apple TVs as HomeKit hubs. They are on IOS13 beta. I have an iPad Pro that is on IOS 12 as another Homekit hub.

I have 2FA on and used your

[2019-07-27 18:47] EarthRise626 commented on #35
@dgreif 4.4.0 resolved the issue for me! Live streams are now working great and pull up very quickly.

[2019-07-27 19:49] dgreif commented on #76
That’s correct, homebridge will choose a random port each time it starts up. I’m not sure how your network is set up, but maybe you could open all ports for that one device. This is a homebridge/HAP node level thing and isn’t something I can control from the homebridge-ring plugin

[2019-07-27 19:53] dgreif commented on #77
I added a dependency in those versions that may be causing your issue. You should update to node 10+ and the latest version of npm. Let me know if you still have issues after updating.

[2019-07-27 20:06] taherkaraki opened #78 "Session hardware_id not found. Creating a new session and trying again."
I don't know whats the issue, but I have updated to 4.4.0, removed cached accessory from persist directory, removed from home, started homebridge, rebooted iphone, added camera again.. Still not updating neither the camera snapshop nor motion sensor state.

I enabled debug mode and the error i'm getting is: **Session hardware_id not found.  Creating a new session and trying again.**

Then after a

[2019-07-27 20:49] dgreif commented on #75
I wouldn't recommend reinstalling homebridge as it is not likely to fix your issue.  I think this is an issue with the `homebridge-ring` plugin not recognizing the device type for that particular switch.  Here's what I need you to do:

1. Clone the ring repo by running `git clone git@github.com:dgreif/ring.git`
2. Go into the `ring` folder that command created and run `npm i` to install dependenci

[2019-07-27 22:21] dgreif commented on #78
Sorry to hear you are having issue.  Was everything working on a previous version?  You can try using a refresh token by following the steps in https://github.com/dgreif/ring/wiki/Two-Factor-Auth.  I would also check to make sure your Ring subscription is not expired.  Let me know if any of that helps or if you are still having issues.

[2019-07-27 23:05] danewallace commented on #74
Jumping in with some (hopefully helpful) log information.

Context: I originally was able to see Live Stream without issue on macOS, iOS 13 b4, and iOS 12.4. However, I after uninstalling node, homebridge, and all plugins for other unrelated reasons, I am unable to get live stream to work.

Ring works, snapshots work, but live stream fails. Strangely, activity log typically shows normal activity e

[2019-07-27 23:18] mikesalz commented on #74
This is probably already be a known issue, but throwing it out there just in case... I am able to see the thumbnail and click though to live video.  But after the live video streams for about 30-60 seconds, it goes to No Response.

[2019-07-27 23:20] ifeign commented on #74
This time limit is known already. @dgreif is trying to figure out how to
keep the connection awake

On Sat, Jul 27, 2019 at 4:18 PM mikesalz <notifications@github.com> wrote:

[2019-07-28 00:12] metroidmen commented on #74
My live streams were working last night but haven’t worked all day here. Tried the new update and restarting the homebridge and my router and my phone. Nothing. 😕

[2019-07-28 02:56] AdamMHardy commented on #75
These are the 3 switches that show up in that list. I'm not sure if the identifiers are sensitive so I've replaced them with [device_id] - if you need the actual values as well, let me know

- [device_id]: Driveway Lights (switch)
- [device_id]: Patio Lights (switch)
- [device_id]: Floodlights (switch)

Thanks for all of your help so far

[2019-07-28 05:46] taherkaraki commented on #78
I'm not using 2FA. It used to be a hit and miss for me on previous version (4.2.3) since I have the 1st gen doorbell. But on 4.4.0 it does not work at all and just produces the above error.

[2019-07-28 06:08] taherkaraki commented on #78
Ok my bad. After my reply I investigated everything and found the issue. I have my ring doorbell connected to another router with 4G internet plan since it is faster. But that router had no internet connection and needed rebooting. It didn't ring a bell for me at first since it coincided with the 4.4.0 upgrade and since the error I got didn't lead me in the right direction. Sorry for bothering you

[2019-07-28 06:08] #78 closed

[2019-07-28 12:15] Frederik840 commented on #35
@dgreif thanx for the incredible work! However i’m Experiencing the issue that the camera loads in about 10 seconds and then immediately prompts non-responding. Same on iPad and iPhone on iOS 12 and 13. Homebridge log is showing: [2019-7-28 14:09:02] [Ring] Preparing Live Stream for Voordeur
[2019-7-28 14:09:03] [Ring] Waiting for stream data from Voordeur
[2019-7-28 14:09:13] [Ring] Stopped Live

[2019-07-28 13:02] Jborn4christ commented on #35
Try removing the cameras, closing homebridge, relaunching, and then re-add
them. That worked for me after I upgraded the plugin.

On Sun, Jul 28, 2019 at 8:15 AM Frederik840 <notifications@github.com>
wrote:

--
Jeremy Chambers Jborn4Christ@gmail.com 407-928-5496 "Live your life as if
it were a work of art." -Abraham Joshua Heschel

[2019-07-28 15:46] jianyu-li commented on #74
Kudos to @dgreif , my cameras load faster in live view than in Ring’s own app. No problems yet over here. Cheers!

[2019-07-28 17:00] onefish2 commented on #74
Those of you with the live stream working, could you post what your platform config looks like from you config.json.

Here is mine. I am wondering if the last two lines are needed and if the time of 2 seconds and 20 seconds are ok.

"platform": "Ring",
            "email": "my.email@xyz.com",
            "password": "password",
            "hideDoorbellSwitch": true,
            "hideCameraSirenSw

[2019-07-28 17:13] dgreif commented on #74
@onefish2 there isn't anything special that you need to do in your config.  If you are still having issues, it is most likely network related.  A lot of people have needed to restart homebridge/HomeKit Hub (apple tv/ipad) and phone to get streams working.

[2019-07-28 17:15] onefish2 commented on #74
I have rebooted my Apple TVs, iPhone, Router, pi running homebridge. Everything. I do not have a complicated network setup. My Pi has a static IP and is connected via Ethernet. I do not know why this will not work. The live stream comes right up in the Ring app.

[2019-07-28 17:18] jianyu-li commented on #74
@onefish2 have you tried removing the cameras and re-adding? I’ve read that’s helped others in this thread

[2019-07-28 17:44] Frederik840 commented on #35
No luck unfortunately. Also rebooted the homekit bridges and reinstalled homebridge. Any other tricks?

[2019-07-28 19:20] onefish2 commented on #74
@jianyu-li, pls see above... My comment from July 27th. I have done just about everything possible.

[2019-07-28 19:46] jcapayne commented on #77
That did it.  I also had to then upgrade homebridge-nest as the older version was causing a segfault with the newer node and npm, but now I'm up and running!

[2019-07-28 19:48] dgreif commented on #77
Great, glad to hear it! Enjoy 😄

[2019-07-28 19:48] #77 closed

[2019-07-28 19:50] dgreif commented on #76
@black01gt did you get everything working?  It sounds like this is specific to your network rather than an issue with this plugin

[2019-07-28 19:53] dgreif commented on #68
I upgraded to iOS 13 beta last week so I could join you all in the fun.  I noticed right away that I was having a lot of trouble with snapshots even on wired cameras (only receiving snapshots ~10% of the time).  I found [this tread on reddit](https://www.reddit.com/r/homebridge/comments/c8gcg7/homebridge_camera_event_snapshots_on_ios13_beta/) which confirmed others are having issues, mainly with t

[2019-07-28 20:20] dgreif commented on #75
That's exactly what I needed from the logs, thanks for walking through all of that!  The device type is simply `switch`, which is what I had guessed it would be.  The code that I added in v`4.4.0` _should_ have added those three switches into homebridge/HomeKit.  If you restart your homebridge server, you should see a log of all the devices that the plugin has recognized.  It would look something

[2019-07-28 20:57] dgreif commented on #74
@ifeign I took your advice and put together a wiki with all of the troubleshooting steps that have worked so far: https://github.com/dgreif/ring/wiki/Camera-Troubleshooting.  I would appreciate a couple proof-reads from anyone who has been following the live streaming threads in case I missed anything.

@onefish2 @metroidmen @adavison007 it looks like you are all getting stuck at the `Waiting for

[2019-07-28 21:00] black01gt commented on #76
Yes thank you everything is working great.

[2019-07-28 21:00] #76 closed

[2019-07-28 21:02] ifeign commented on #74
@dgreif the wiki looks good. I wonder if there's one final step that people
should check - their Ring subscription, I'm assuming this doesn't work
unless you have a paid subscription? Or is that not relevant?

On Sun, Jul 28, 2019 at 1:57 PM Dusty Greif <notifications@github.com>
wrote:

[2019-07-28 21:03] danewallace commented on #74
Restarting all Home hubs appears to have resolved the issue with logs showing normal traffic but Home.app still not showing live steam.

[2019-07-28 21:10] dgreif commented on #35
After lots of feedback and troubleshooting in this thread and #74, I decided to throw together a wiki page to cover everything we know for camera troubleshooting: https://github.com/dgreif/ring/wiki/Camera-Troubleshooting.  If you are still having issue, please follow that guide.

@benfysh if you are still receiving the `Failed to retrieve public ip address` error, please open a new GitHub issue.

[2019-07-28 21:10] #35 closed

[2019-07-28 21:20] dgreif commented on #74
@ifeign great suggestion, I've added another step to check your subscription in the wiki

@danewallace I'm not sure what else to suggest for troubleshooting. I think it's something on your network blocking the traffic between the devices if you are seeing all the correct logs (all the way up to `Streaming active for camera`...

I am going to close out this thread as I think it has served its purpo

[2019-07-28 21:20] #74 closed

[2019-07-28 21:25] dgreif commented on #38
I think I have the snapshot logic as good as it can get for now.  If anyone has spefic feedback, feel free to open a new GitHub issue.  Thanks everyone who tested out my updates along the way!

[2019-07-28 21:25] #38 closed

[2019-07-28 22:03] dgreif commented on #1
@peterzanetti give v`4.5.0` a try.  Now it should put the alarm into a `No response` mode when you try to arm it and it needs bypass.  If you run a scene that sets the alarm via siri, she will say something like `I tried, but the "Room Name" security system didn't respond`.  This is the best I can do within the constraints of HomeKit.  The Ring app will need to be used to actually bypass the senso

[2019-07-29 01:56] enriquecaballero commented on #75
Thought I'd chime in here. I just installed 4.5.0 and I'm getting this error when it attempts to add my regular on/off switches:
[code]
The switches work great via the Ring app and also via Alexa.

[2019-07-29 01:57] enriquecaballero commented on #75
I previously had 4.3.0 and everything worked except for the fact that I couldn't see my on/off switches.

[2019-07-29 02:00] enriquecaballero commented on #75
Just downgraded to 4.4.0 and I'm also getting the same error.

[2019-07-29 02:22] mrose17 opened #80 "OT: request"
@dgreif - please consider joining the slack community at https://homebridgeteam.slack.com ... there is a #hombridge-ring channel that could use your expertise!

Thank you!

[2019-07-29 02:40] dgreif commented on #75
🤦‍♂ thank you for the error log.  I had a typo which was causing it to error.  `4.5.1` should work

[2019-07-29 02:45] enriquecaballero commented on #75
Dude, awesome. This plugin is amazing. Thanks!

[2019-07-29 02:52] dgreif commented on #75
I take it that worked? 😁

[2019-07-29 02:56] enriquecaballero commented on #75
Yup! Like a charm 🙌

[2019-07-29 03:08] dgreif commented on #75
Awesome! Sorry for the goof on that.  It's a lot easier when I have one to test with, but they only z-wave I have is a dimmer.  Thanks for testing it out!  @AdamMHardy it should work for you as well now.  Let me know if you run into any more issues or find another device that isn't supported yet.

[2019-07-29 03:08] #75 closed

[2019-07-29 03:12] AdamMHardy commented on #75
That was it! All is working for me as well - thanks!

[2019-07-29 06:26] tronny87 commented on #68
Ring Pro working flawlessly food doorbell alerts and live streaming, but I have not been able to receive any notifications for motion alerts. If I look at the motion sensor accessory, I can see it being triggered, but there is no option anywhere to manage notifications for it.

Hopefully an iOS 13 bug, that might be resolved with this week’s beta 5.

[2019-07-29 08:00] benfysh opened #81 "Error: Failed to retrieve public ip address"
Opening new issue as requested in https://github.com/dgreif/ring/issues/35#issuecomment-515795422 I am consistently getting the `Error: Failed to retrieve public ip address` issue when trying to start a livestream, log sample shown below.

Yesterday I removed and cleaned up the cameras, uninstalled and then reinstalled the plugins and then added the cameras back into Home and was still getting the

[2019-07-29 10:17] benfysh commented on #81
Not sure if this helps but I installed [public-ip-cli](https://github.com/sindresorhus/public-ip-cli) and that only seems to work with the -h option for using https instead of DNS
[code]

[2019-07-29 14:35] dgreif commented on #81
@benfysh that is extremely helpful! I'll get an update out later today for you

[2019-07-29 14:38] dgreif commented on #80
@mrose17 I had no idea there was a homebridge slack.  Probably would have been useful while I was working on the live streaming 😂.  Thanks for the heads up!

[2019-07-29 14:38] #80 closed

[2019-07-29 14:53] d0n4v4nb3ck3r commented on #48
@tsightler just to make you aware, Ring is enabling sharing access to the ring smart lights. I am not sure if you had issues with that at all with your shared account or not. But got an email back from the head of the ring smart lights department and they enabled it for me already and are enabling everyone else this week he said.

[2019-07-29 16:23] tsightler commented on #48
Current code doesn't have any support for smart lights, and I don't own any, so it's mostly irrelevant to me at this point.

I am marginally interested in the path lights, but being battery powered does't get me too excited about them when I can buy much cheaper wired ones and turn them on/off with a $10 wifi switch.

[2019-07-29 20:01] benfysh commented on #81
Great thanks, will test and feedback :)

[2019-07-29 20:50] benfysh commented on #81
As it did last night around the same time streaming has started working again  ¯\_(ツ)_/¯  the public-ip cli tool is still not working.

Not sure what is changing after 21:30? Will have to see what happens in the morning …

[2019-07-29 22:13] bugs181 opened #82 "Bounty: Alternative to Ring servers (Camera Live Feed Proxy)"
Moving this to a new issue as #35 was closed and is a separate issue.

**Bounty Details:**

I know this is technically out of the scope of this project, however I and others have expressed interest in not using Ring's servers for varying reasons. For that reason, I have started a bounty to anyone that can implement a "proxy-like" service (getting started) or even a Ring server stub (which would be

[2019-07-29 22:47] dgreif commented on #81
Ok, I've added https as a fallback in v`4.5.2`.  Hopefully that get's you working in all scenarios.  Post back in 24 hours and let me know how it goes 😄

[2019-07-30 04:46] divemasterjm commented on #82
Very nice enhancement, would be nice

[2019-07-30 16:34] krazyflipj commented on #68
Updated iOS 13 to latest beta that was released yesterday. Still not getting motion alerts. Live streaming works fine

[2019-07-30 16:46] jamesg311 commented on #68
Same here, though it’s not 100% either way. Sometimes they appear sometimes they don’t.

[2019-07-30 17:12] dgreif commented on #68
Mine appear to be working on Beta 5, but I did notice it has trouble saving the notification settings.  For example if I go into the camera and change the "People" option, then back out and go back into the settings, it does not save the changes that I just made.  Definitely some bugs to be worked out still, this is why they do betas :joy:

[2019-07-30 19:21] techoin opened #83 "Ring Alarm Panic Button"
This plugin is amazing. I have ring pro, spotlight cams and alarm. Everything works as expected. Thanks @dgreif

Is it possible to expose Ring Alarm Panic Zwave Button accessory as homekit switch something similar to Siren? Have not tried it yet but from description it seems currently not supported